{% set use_constraints = pkg_dict.extras
  | selectattr("key","equalto","use-constraints")
  | map(attribute="value")
  | join('')
%}
{% set access_constraints = pkg_dict.extras
  | selectattr("key","equalto","access-constraints")
  | map(attribute="value")
  | join('')
%}
{% set other_constraints = pkg_dict.extras
  | selectattr("key","equalto","limitations-on-public-access")
  | map(attribute="value")
  | join('')
%}
{% set _has_limitation = use_constraints and pkg_dict.license_url and use_constraints != pkg_dict.license_url %}

{% if _has_limitation or access_constraints %}
<section class="access">
  <h3>{{ _('Access and Use') }}</h3>
  <dl class="mf-access-list">
    {% if _has_limitation %}
    <dt>{{ _('Limitations') }}</dt>
    <dd>{{ h.cioos_load_json(use_constraints) }}</dd>
    {% endif %}

    {% if access_constraints %}
    <dt>{{ _('Access') }}</dt>
    <dd>
      {{ '\n'.join(h.cioos_load_json(access_constraints))|title }}
      {% if other_constraints %}
        {{ '—' }} {{ '\n'.join(h.cioos_load_json(other_constraints)) }}
      {% endif %}
    </dd>
    {% endif %}
  </dl>
</section>
{% endif %}
