<section class="access">
  <h3>{{ _('Access and Use') }}</h3>
  <table class="table table-bordered">
    <tbody>
      {% block package_access %}
          <tr>
            <td>
              {% set licence_extras = [] %}
              {%  for extra in pkg_dict.extras %}
                {% if 'licence' == extra.key %}
                  {% set _ = licence_extras.append( '\n'.join(h.cioos_load_json(extra.value)) ) %}
                {% endif %}
              {% endfor %}
              {% set licence = pkg_dict.license_title or pkg_dict.license_id or licence_extras[-1] or 'Not Specified' %}
    <span> <strong>Licence:</strong> {{ licence }} </span>
		<span>
                {%  for extra in pkg_dict %}
		  {% if 'access_constraints' == extra.key %}
		    {{ '\n'.join(h.cioos_load_json(extra.value)) }}
		  {% endif %}
		{% endfor %}
		</span>
            </td>
          </tr>
      {% endblock %}
    </tbody>
  </table>
</section>
