<section class="additional-info">
  <h3>{{ _('Additional Info') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
      {% block package_additional_info %}

        {% if pkg_dict.url %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Source') }}</th>
            {% if h.is_url(pkg_dict.url) %}
              <td class="dataset-details" property="foaf:homepage">{{ h.link_to(pkg_dict.url, pkg_dict.url, rel='foaf:homepage', target='_blank') }}</td>
            {% else %}
              <td class="dataset-details" property="foaf:homepage">{{ pkg_dict.url }}</td>
            {% endif %}
          </tr>
        {% endif %}

        {% if pkg_dict.author_email %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Author") }}</th>
            <td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.author_email, name=pkg_dict.author) }}</td>
          </tr>
        {% elif pkg_dict.author %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Author") }}</th>
            <td class="dataset-details" property="dc:creator">{{ pkg_dict.author }}</td>
          </tr>
        {% endif %}

        {% if pkg_dict.maintainer_email %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
            <td class="dataset-details" property="dc:contributor">{{ h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer) }}</td>
          </tr>
        {% elif pkg_dict.maintainer %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
            <td class="dataset-details" property="dc:contributor">{{ pkg_dict.maintainer }}</td>
          </tr>
        {% endif %}

        {% if pkg_dict.version %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Version") }}</th>
            <td class="dataset-details">{{ pkg_dict.version }}</td>
          </tr>
        {% endif %}

        {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("State") }}</th>
            <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
          </tr>
        {% endif %}

        {#
          {% if pkg_dict.metadata_modified %}
            <tr>
              <th scope="row" class="dataset-label">{{ _("Last Updated") }}</th>
              <td class="dataset-details">
                  {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_modified %}
              </td>
            </tr>
          {% endif %}
          {% if pkg_dict.metadata_created %}
            <tr>
              <th scope="row" class="dataset-label">{{ _("Created") }}</th>

              <td class="dataset-details">
                  {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_created %}
              </td>
            </tr>
          {% endif %}
        #}

        {% block extras scoped %}

          {% set items_to_skip = ['graphic-preview-description', 'coupled-resource', 'graphic-preview-type', 'spatial_harvester',
              'bbox-east-long', 'bbox-north-lat', 'bbox-south-lat', 'bbox-west-long', 'spatial', 'temporal-extent-begin' ,'temporal-extent-end',
              'metadata-date', 'dataset-reference-date', 'frequency-of-update', 'graphic-preview-file', 'licence', 'access_constraints',
		'guid','h_job_id','h_object_id','h_source_id','h_source_title','h_source_url','gn_localized_url','gn_view_metadata_url'] %}

          {% for extra in h.sorted_extras(pkg_dict.extras) %}
            {% set key, value = extra %}

            {% if key in items_to_skip %}
              {# do nothing #}

            {% elif _('dataset-reference-date') == key %}
                   {% for d in h.cioos_load_json(value) %}
                    <tr rel="dc:relation" resource="_:extra{{ i }}">
                      <th scope="row" class="dataset-label" property="rdfs:label">{{d['type'].title()}}</th>
                      <td class="dataset-details" property="rdf:value">
          	  {{d['value']}}</br>
                      </td>
                    </tr>
              {% endfor %}
            {% elif _('responsible-party') == key %}
                    <tr rel="dc:relation" resource="_:extra{{ i }}">
                      <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key.replace("-", " ").title()) }}</th>
                      <td class="dataset-details" property="rdf:value">
			{{ h.get_responsible_party(value) }}
                      </td>
                    </tr>
            {#
            {% elif _('access_constraints') == key %}
                    <tr rel="dc:relation" resource="_:extra{{ i }}">
                      <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key.replace("_", " ").title()) }}</th>
                      <td class="dataset-details" property="rdf:value">
                        {{ '\n'.join(h.cioos_load_json(value)) }}
                </td>
                    </tr>
            #}
            {# {% elif _('licence') == key %}
                    <tr rel="dc:relation" resource="_:extra{{ i }}">
                      <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
                      <td class="dataset-details" property="rdf:value">
                        {{ '\n'.join(h.cioos_load_json(value)) }}
                </td>
                    </tr>
            #}
            {% elif _('spatial') == key %}
                    <tr rel="dc:relation" resource="_:extra{{ i }}">
                      <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
                      <td class="dataset-details" property="rdf:value">
          	{% set minx, miny, maxx, maxy = h.cioos_geojson_to_bbox(h.cioos_load_json(value)) %}
                        SW: ({{ miny }} lat, {{ minx }} long)</br>
                        NE: ({{ maxy }} lat, {{ maxx }} long)
                </td>
                    </tr>
            {% elif _('graphic-preview-file') == key %}
                    <tr rel="dc:relation" resource="_:extra{{ i }}">
                      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Preview") }}</th>
                      <td class="dataset-details" property="rdf:value">
                        <img src="{{ value }}" style="max-width: 380px;"/>
                </td>
                    </tr>
            {% elif _('contact-email') == key %}
                    <tr rel="dc:relation" resource="_:extra{{ i }}">
                      <th scope="row" class="dataset-label" property="rdfs:label">{{ _( key.replace("-", " ").title() ) }}</th>
                      <td class="dataset-details" property="rdf:value">
                        <a href="mailto:{{ value }}">{{ value }}</a>
                </td>
                    </tr>

            {% elif value != '' %}
              <tr rel="dc:relation" resource="_:extra{{ i }}">
                <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
                <td class="dataset-details" property="rdf:value">{{ value }}</td>
              </tr>
            {% endif %}

          {% endfor %}

        {% endblock %}

      {% endblock %}
    </tbody>
  </table>
</section>
