{% set fields = data[field.field_name] %}

{% block subfield_display %}
  {% for field_data in fields %}
    <div class="card">
        <header class="card-header">
          {{ h.scheming_language_text(field.repeating_label or field.label) }} {{ loop.index }}
        </header>
      <div class="card-body">
        <dl class="scheming-subfield-list">
          {% for subfield in field.repeating_subfields %}
            {% if subfield.display_snippet is not none %}
            {% set value = field_data.get(subfield.field_name) %}
            {% if value is not none and value != '' and value != [] and value != {} %}
            <dt class="dataset-label">
              {{ h.scheming_language_text(subfield.label) }}
            </dt>
            <dd>
            {%- snippet 'scheming/snippets/display_field.html',
              field=subfield,
              data=field_data,
              entity_type=entity_type,
              object_type=object_type
            -%}
            </dd>
            {% endif %}
            {% endif %}
          {% endfor %}
        </dl>
      </div>
    </div>
  {% endfor %}
{% endblock %}
