<section class="dates">
  <h3>{{ _('Dates') }}</h3>
  <table class="table table-bordered table-condensed">
    <tbody>
      {% block package_dates %}

        {% if pkg_dict.metadata_created %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Metadata Created") }}</th>

            <td class="dataset-details">
                {% if pkg_dict.metadata_created  | length == 10 %}
                  {{ h.render_datetime(pkg_dict.metadata_created , '%B %d, %Y') }}
                {% else %}
                  {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_created %}
                {% endif %}

            </td>
          </tr>
        {% endif %}
        {% if pkg_dict.metadata_modified %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Metadata Updated") }}</th>
            <td class="dataset-details">
                {% if pkg_dict.metadata_modified | length == 10 %}
                  {{ h.render_datetime(pkg_dict.metadata_modified, '%B %d, %Y') }}
                {% else %}
                  {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_modified %}
                {% endif %}

            </td>
          </tr>
        {% endif %}

        {% if pkg_dict['temporal-extent'] %}
          {% set te = h.cioos_load_json(pkg_dict['temporal-extent']) %}
          {% if te.begin %}
            <tr>
              <th scope="row" class="dataset-label">{{ _("Temporal Extent Begin") }}</th>
              <td class="dataset-details">
                {% if te.begin | length == 10 %}
                  {{ h.render_datetime(te.begin, '%B %d, %Y') }}
                {% else %}
                  {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=te.begin %}
                {% endif %}
              </td>
            </tr>
          {% endif %}

          {% if te.end%}
            <tr>
              <th scope="row" class="dataset-label">{{ _("Temporal Extent End") }}</th>
              <td class="dataset-details">
                {% if te.end | length == 10 %}
                  {{ h.render_datetime(te.end, '%B %d, %Y') }}
                {% else %}
                  {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=te.end %}
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endif %}

        {% if pkg_dict['dataset-reference-date'] %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Reference Date(s)") }}</th>
            <td class="dataset-details">
              {% for d in h.cioos_load_json(pkg_dict['dataset-reference-date']) %}
                {% if d['value']| length == 10 %}
                  {{ h.render_datetime(d['value'], '%B %d, %Y') }} ({{_(d['type'].title())}})</br>
                {% else %}
                  {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=d['value'] %} ({{_(d['type'].title())}})</br>
                {% endif %}
              {% endfor %}
            </td>
          </tr>
        {% endif %}

        {% for extra in h.sorted_extras(pkg_dict.extras) %}
          {% set key, value = extra %}

  	      {% if 'dataset-reference-date' == key %}
            <tr rel="dc:relation" resource="_:extra{{ i }}">
              <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Reference Date(s)") }}</th>
              <td class="dataset-details" property="rdf:value">
                {% for d in h.cioos_load_json(value) %}
                  {{d['value']}} ({{_(d['type'].title())}})</br>
                {% endfor %}
              </td>
            </tr>

          {# {% elif 'metadata-date' == key %}
            <tr rel="dc:relation" resource="_:extra{{ i }}">
              <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Metadata Date") }}</th>
              <td class="dataset-details" property="rdf:value">
                {% if value | length == 10 %}
                  {{ h.render_datetime(value, '%B %d, %Y') }}
                {% else %}
                  {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=value %}
                {% endif %}
              </td>
            </tr>
          #}
          {% elif 'frequency-of-update' == key %}
            <tr rel="dc:relation" resource="_:extra{{ i }}">
              <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Frequency of Update") }}</th>
              <td class="dataset-details" property="rdf:value">
                {{value}}
              </td>
            </tr>

          {% endif %}

        {% endfor %}

      {% endblock %}
    </tbody>
  </table>
</section>
