<section class="metadata_source">
  {% if harvest_object %}
  <h3>{{ _('Metadata Source') }}</h3>
  <table class="table table-bordered">
    <tbody>
      {% block package_metadata_source %}
          <tr>
            <td style="width:76px;"><img src='../uploads/group/{{ pkg_dict.organization.image_url }}' style="max-height:50px; max-width: 50px;"/></td>
            <td>
	      {% set url = pkg_dict.extras | selectattr("key","equalto","h_source_url") | map(attribute="value") | join('') %}
	      {% set source_guid = pkg_dict.extras | selectattr("key","equalto","guid") | map(attribute="value") | join('') %}
	      {% set source_guid_suffix = pkg_dict.extras | selectattr("key","equalto","guid_suffix") | map(attribute="value") | join('') %}
	      {% set title = pkg_dict.extras | selectattr("key","equalto","h_source_title") | map(attribute="value") | join('') %}
	      {% set source_id = pkg_dict.extras | selectattr("key","equalto","h_source_id") | map(attribute="value") | join('') %}
	      {% set job = pkg_dict.extras | selectattr("key","equalto","h_job_id") | map(attribute="value") | join('') %}
	      {% set harvest_object = pkg_dict.extras | selectattr("key","equalto","h_object_id") | map(attribute="value") | join('') %}
	      {# {% set gn_view_metadata_url = pkg_dict.extras | selectattr("key","equalto","gn_view_metadata_url") | map(attribute="value") | join('') %} #}

	      {% if harvest_object %}
	        <span style="font-weight:bold;">{{_("View Full Metadata")}}: <a href="{{ h.url_for('harvest_object_show', id = harvest_object ) }}">xml</a> - <a href="{{ h.url_for('harvest_object_show', id = harvest_object ) }}/html">html</a> </span><br>
	      {% else %}
	        <span">Source information unavailable</span><br>
	      {% endif %}

              {% if url and source_guid %}
                  {% if h.is_url(url) %}
                    <span style="margin-left:20px;"> {{_("Harvested from")}} </span><a href="{{ gn_view_metadata_url if gn_view_metadata_url else url.strip('/') }}/{{source_guid}}{{source_guid_suffix}}">{{ title }}</a>
                  {% else %}
                    <span> {{ url }}{{ guid }} </span>
                  {% endif %}
		 </br>
              {% endif %}
              {% if source_id %}
                <span style="margin-left:20px;"> {{_("Other records from")}} </span><a href="{{h.url_for('harvest_read', id = source_id)}}">{{ title }}</a> </br>
              {% endif %}


            </td>
          </tr>
      {% endblock %}
    </tbody>
  </table>
  {% endif %}
</section>
