{% set xml_location_extras = pkg_dict.extras | selectattr("key","equalto","xml_location_url") | map(attribute="value") | join('') %}
{% set xml_modified_date = pkg_dict.extras | selectattr("key","equalto","xml_modified_date") | map(attribute="value") | join('') | replace(' ','T') %}
{% set h_source_url = pkg_dict.extras | selectattr("key","equalto","h_source_url") | map(attribute="value") | join('') %}
{% set remote_ckan_base_url = pkg_dict.extras | selectattr("key","equalto","remote_ckan_base_url") | map(attribute="value") | join('') %}
{% set source_guid = pkg_dict.extras | selectattr("key","equalto","guid") | map(attribute="value") | join('') %}
{% set title = pkg_dict.extras | selectattr("key","equalto","h_source_title") | map(attribute="value") | join('') %}
{% set source_id = pkg_dict.extras | selectattr("key","equalto","h_source_id") | map(attribute="value") | join('') %}
{% set url = h.cioos_load_json(pkg_dict.xml_location_url or xml_location_extras or h_source_url) %}

{% if url or source_id %}
<section class="metadata_source mf-always-visible">
  <h3>{{ _('Metadata Source') }}</h3>
  <div class="mf-metadata-source">
    {% if pkg_dict.organization.image_url %}
      {% if h.is_url(pkg_dict.organization.image_url) %}
        {% set image_url = pkg_dict.organization.image_url %}
      {% else %}
        {% set image_url = '../uploads/group/' + pkg_dict.organization.image_url %}
      {% endif %}
      <div class="mf-metadata-source-logo">
        <img src='{{ image_url }}' alt="" />
      </div>
    {% endif %}

    <div class="mf-metadata-source-body">
      {% if url %}
        <div class="mf-metadata-source-row">
          <span class="mf-metadata-source-label">{{ _('Access full metadata') }}</span>
          {% if url is iterable and url is not string %}
            <ul class="mf-metadata-source-links">
              {% for item in url %}
                <li><a href="{{item}}">{{ item.rsplit('/', 1)[-1] }}</a></li>
              {% endfor %}
            </ul>
          {% elif h.is_url(url) %}
            <a href="{{url}}">{{ _("here") }}</a>
          {% else %}
            <span>{{ url }}{{ source_guid }}</span>
          {% endif %}
        </div>

        {% if xml_modified_date %}
          <div class="mf-metadata-source-modified">
            {{ _("Source last modified") }}
            {{ h.render_datetime(h.date_str_to_datetime(xml_modified_date), date_format="%B %d, %Y at %H:%M", with_hours=true) }}
          </div>
        {% endif %}
      {% endif %}

      {% if source_id %}
        <div class="mf-metadata-source-row">
          <span class="mf-metadata-source-label">{{ _('Other records harvested from') }}</span>
          <a href="{{ h.url_for('harvest.read', id = source_id) }}">{{ title }}</a>
        </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}
