/*
Theme Name: CIOOS
Theme URL: http://cioos.ca/
Description: The WordPress theme created for the CIOOS National Site and RAs
Author: OGSL
Author URL: https://ogsl.ca/
Template: Experon_Pro
Version: 1.0.0
Text Domain: CIOOS
*/

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.owl-dots {
    display: none;
}

.elementor-top-section{
	margin-bottom: 5em;
}

#pre-header {
	background-color: grey;
}

.elementor-column-gap-default>.elementor-row>.full-section-image>.elementor-element-populated {
	padding: 0px!important;
}

/***Main Menu***/
#header .menu > li > a span{
	font-weight: 450;
	padding:10px;
}
#header .menu > li.current-menu-item > a span{
	color: #021F30;
	font-weight: bold;
}
#header .menu > li.current-menu-item > a :hover{
	color: #bebebe!important;
	
}

#header .menu > li > a span:hover{
	color: grey!important;
}

#header .menu > li.current-menu-item > a span:after{
    background: #bebebe;
	  width: 100%;

}

#header .menu > li > a span::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: grey;
    transition: width .5s;
}


#header .menu > li > a span:hover::after {
    width: 100%;
}

/***About page***/

#content-core {
	max-width: 1640px!important;
}

@media screen and (min-width: 685px) and (max-width: 1485px) {
		
	.elementor-column.elementor-col-50, .elementor-column[data-col="50"] {
		width: 80%!important;
	}
}

/*****footer*****/

.option13 {
	max-width: 1400px!important;
	text-align: center;
}

#footer-core h3 span {
	color: white;
}

#footer-core, #footer-core a, #footer-core p {
	color: white!important;
}

#footer-col1, #footer-col2 {
	width: auto;
}

@media screen and (min-width: 575px){
	.one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
		display: inline-block;
		vertical-align: top;
		float: none;
	}
}


@media screen and (min-width: 569px){
	.widget-area {
		text-align: left;
	}	
}

@media only screen and (max-width: 685px) {

	#sidebar {
		display: block !important;
		width: 100% !important;
	}

	div#content-core {
		flex-direction: column;
	}
	
	.layout-sidebar-left #sidebar-core {
		margin-right: 0;
	}
}

/*****Sidebar******/

/*to use this, the content-core class needs to be in display: flex*/
.layout-sidebar-left #main {
	flex-grow: 1;
	order: 2;
  }
  
/*to use this, the content-core class needs to be in display: flex*/  
.layout-sidebar-left #sidebar {
	order: 1;
	flex-shrink: 0;
	min-width: 23em!important;
  }

.bellows {
	margin: 0;
}
