<section id="daterange" class="module module-narrow module-shallow">
    <h2 class="module-heading">
    <i class="fa fa-filter icon-medium icon-globe"></i>
        {{ _('Year') }}
    </h2>


    <div id="year_search_container" data-module="date-query">
      <div class='input-group input-daterange'
            data-provide="datepicker"
            data-date-format="yyyy"
            data-date-clear-btn="true"
            data-date-min-view-mode="2"
            data-date-autoclose="true"
            data-date-end-date="+0d"
            data-date-keep-empty-values="true"
            data-date-language="{{ h.lang() }}">
         <div class="input-group-addon">
           <i class="fa fa-calendar"></i>
         </div>
         <input type='text' id='datepickerbegin' class="form-control datepicker"/>
         <div class="input-group-addon">{{ _(' to ')}}</div>
         <input type='text' id='datepickerend' class="form-control datepicker" />
      </div>
      <input class="form-check-input module-content" type="checkbox" value="true" id="datepickernullrange">
      <label id="datepickernullrangelabel" for="datepickernullrange">{{ _('Show blank range') }}</label>
    </div>
</section>


{% asset 'ckanext-cioos_theme/bootstrap_datepicker_js' %}
{% asset 'ckanext-cioos_theme/bootstrap_datepicker_css' %}
