{% for ident in uri or [] %}
  <{{container}}>
  <a href="{{ ident }}" class="">
  {% if 'ror.org' in ident %}
    <img src="/base/images/ror-logo-small.png" class="identifier_icon_list">
    {{ ident.rsplit('/', 1)[-1] }}
  {% elif 'wikidata' in ident %}
    <img src="/base/images/wikidata.png" class="identifier_icon_list">
    {{ ident.rsplit('/', 1)[-1] }}
  {% elif 'orcid.org' in ident %}
    <img src="/base/images/orcid.logo.icon.svg" class="identifier_icon_list">
    {{ ident.rsplit('/', 1)[-1] }}
  {% elif 'doi.org' in ident %}
    <img src="/base/images/DOI_logo.svg" class="identifier_icon_list">
    {{ '/'.join(ident.rsplit("/", 2)[-2:]) }}
  {% else %}
    <label>Id</label>
    {{ ident.rsplit('/', 1)[-1] }}
  {% endif %}
  </a></{{container}}>
{% endfor %}
