{#
render a list of tags linking to the dataset search page
tags: list of tags
#}
{% set _class = _class or 'tag-list' %}
{% block tag_list %}
  <ul class="{{ _class }}">
    {% for tag in tags %}
      <li>
        {% if tag is string %}
          {% set name = tag %}
          {% set display_name = tag %}
        {% else %}
          {% set name = tag.name %}
          {% set display_name = tag.display_name %}
        {% endif %}
        {% set params = { "tags_"+h.lang():name } %}
        <a class="{% block tag_list_item_class %}tag{% endblock %}" href="{{ h.url_for(controller='dataset', action='search', **params) }}">{{ h.truncate(display_name, 22) }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
