{% set tags = h.get_facet_items_dict('tags', limit=3) %}
{% set placeholder = _('E.g. temperature') %}

<h3 class="heading">{{ _("SEARCH BY KEYWORD") }}</h3>
<div class="module-content box">
  <form class="search-form" method="get" action="{% url_for controller='package', action='search' %}">
    <div class="col-md-3 col1"></div>
    <div class="col-md-6 col2 search-input form-group search-giant">
      <input aria-label="{% block header_site_search_label %}{{ _('Search datasets') }}{% endblock %}" id="field-main-search" type="text" class="form-control" name="q" value="" autocomplete="off" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
      <button type="submit">
        <i class="fa fa-search"></i>
        <span class="sr-only">{{ _('Search') }}</span>
      </button>
    </div>
    <div class="col-md-3 col2"></div>
  </form>
</div>
