{# import macros from ra footer file #}
{% set footer_file = h.cioos_get_footer_file_name() %}
{% if self._TemplateReference__context.name != footer_file %}
  {% from footer_file or '/footer/default_footer.html' import include_site_footer with context %}
{% else %}
  {% from '/footer/default_footer.html' import include_site_footer with context %}
{% endif %}

<footer>
  <div id="footer">
    <div id="footer-core" class="option15 container">
      {{ include_site_footer() }}
    </div>
  </div>
  <!-- #footer -->
</footer>
<a
  id="scrollUp"
  href="#top"
  style="position: fixed; z-index: 2147483647; display: block"
></a>

{% block footer_debug %} {# Removed include of
'snippets/debug.html' to avoid TemplateNotFound on CKAN 2.11 #} {% endblock %}
