{# <div id="footer">
  <div class="container">
    <div class="col-md-6 col1">
      <a href="mailto:info@cioos.ca" title="{{ _('CONTACT US') }}">{{ _('CONTACT US') }}</a>
    </div>
    <div class="col-md-6 col1 rightalign">
      <a href="{{ g.site_home_url or h.url_for('home.index') }}" title="{{ _('BACK TO CIOOS MAIN WEBSITE') }}">{{ _('BACK TO CIOOS MAIN WEBSITE') }}</a>
    </div>
  </div>
</div>
#}

<footer>
	<div id="footer">
		<div id="footer-core" class="option15 container">
			<div id="footer-col1" class="widget-area one_sixth col-sm-3 col-md-3 col-lg-3 col1">
				<aside class="widget widget_text">
					<h3 class="footer-widget-title">
						<span>CONTACT US</span>
					</h3>
					<div class="textwidget">
						<p>
							<a href="mailto:info@cioospacific.ca">info@cioospacific.ca</a>
						</p>
					</div>
				</aside>
			</div>
			<div id="footer-col2" class="widget-area one_third col-sm-4 col-md-4 col-lg-4 col1">
				<aside class="widget widget_text">
					<h3 class="footer-widget-title">
						<span>CIOOS</span>
					</h3>
					<div class="textwidget">
						<div class="widget-area one_sixth one_third">
							<aside class="widget_text widget widget_custom_html">
								<div>
									<a href="https://www.cioos.ca/">CIOOS National</a>
								</div>
								<div class="textwidget custom-html-widget">
									<a href="#">Pacific Region</a>
									<br>
									<a href="https://new.ogsl.ca/en/home/">St. Lawrence Region</a>
									<br>
									<a href="https://cioosatlantic.ca/">Atlantic Region</a>
								</div>
							</aside>
						</div>
					</div>
				</aside>
			</div>
			<div id="footer-col3" class="widget-area last one_half col-sm-5 col-md-5 col-lg-5 col1">
				<aside class="widget_text widget widget_custom_html">
					<h3 class="footer-widget-title">
						<span>SUBSCRIBE TO CIOOS VIA EMAIL</span>
					</h3>
					<div class="textwidget custom-html-widget">
						<div id="mc_embed_signup">
							<form action="https://cioos.us4.list-manage.com/subscribe/post?u=878a48e5216df1dd94addb795&amp;id=a3c7b19b1e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
								<div id="mc_embed_signup_scroll">
									<div id="mce-responses" class="clear">
										<div class="response" id="mce-error-response" style="display:none"></div>
										<div class="response" id="mce-success-response" style="display:none"></div>
									</div>
									<div class="subcribe_container">
										<div style="position: absolute; left: -5000px;" aria-hidden="true">
											<input type="text" name="b_bbfb1b3442ef6556f2c6cdfff_da0cc8ed40" tabindex="-1" value="">
										</div>
										<div class="mc-field-group email">
											<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
										</div>
										<div class="clear">
											<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="subscribe">
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</aside>
			</div>
		</div>
	</div>
	<!-- #footer -->
</footer>
<a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: block;"></a>


{% block header_account %}
<header class="account-masthead">
  <div class="container">
    {% block header_account_container_content %} {% if c.userobj %}
    <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
      <ul class="list-unstyled">
        {% block header_account_logged %} {% if c.userobj.sysadmin %}
        <li>
          <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
            <i class="fa fa-gavel" aria-hidden="true"></i>
            <span class="text">{{ _('Admin') }}</span>
          </a>
        </li>
        {% endif %}
        <li>
          <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
            {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
            <span class="username">{{ c.userobj.display_name }}</span>
          </a>
        </li>
        {% set new_activities = h.new_activities() %}
        <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
          {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities)
          %}
          <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span class="text">{{ _('Dashboard') }}</span>
            <span class="badge">{{ new_activities }}</span>
          </a>
        </li>
        {% block header_account_settings_link %}
        <li>
          <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <span class="text">{{ _('Settings') }}</span>
          </a>
        </li>
        {% endblock %} {% block header_account_log_out_link %}
        <li>
          <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <span class="text">{{ _('Log out') }}</span>
          </a>
        </li>
        {% endblock %} {% endblock %}
      </ul>
    </div>
    {% else %}
    <nav class="account not-authed">
      <ul class="list-unstyled">
        {% block header_account_notlogged %}
        <li>{% link_for _('Log in'), named_route='user.login' %}</li>
        {% if h.check_access('user_create') %}
        <li>{% link_for _('Register'), named_route='user.register', class_='sub' %}</li>
        {% endif %} {% endblock %}
      </ul>
    </nav>
    {% endif %} {% endblock %}
  </div>
</header>
{% endblock %}
{% block footer_debug %}
  {% if g.debug %}
    {% include 'snippets/debug.html' %}
  {% endif %}
{% endblock %}
