{% set gns = namespace() %}
{% set gns.site_logo =  h.scheming_language_text(h.cioos_load_json(g.site_logo_translated or g.site_logo or '{"fr": "/base/images/ckan-logo.png", "en": "/base/images/ckan-logo.png"}' )) %}
{% set gns.site_title = h.scheming_language_text(h.cioos_load_json(g.site_title)) %}
{% set gns.site_description = h.render_markdown(h.scheming_language_text(h.cioos_load_json(g.site_description))) %}

{% if h.is_url(gns.site_logo) %}
  {% set logo_url = gns.site_logo %}
{% else %}
  {% set logo_url = h.url_for_static_or_external(gns.site_logo) %}
{% endif %}

<div id="header-container">
  {% block header_wrapper %}
  {# mobile header menu #}
  <input type="checkbox" class="main-nav-check" id="main-nav-check" />
  <!-- Logo -->
  <div class="mobileheader toggle-menu">
    <a class="logo" href="{{ g.site_home_url or h.url_for('home.index') }}"><img src="{{ logo_url }}" alt="{{ gns.site_title }}" title="{{ gns.site_title }}" /></a>
    <label for="main-nav-check">Menu</label>
  </div>
  <!-- Menu -->
  <nav class="menubar mobile-nav" id="mobile-nav">
    <h4 class="invis">Mobile Navigation</h4>
    <div id="menu-mobile" class="menu">
      <div class="menu-mobile-menu-container">
        <nav>
          <ul class="menu mobile-menu">
            {% snippet '%s' % g.header_file_name or "/menu/menu_list.html" %}
            <ul class="shareicons">
              {% block mobile_social_list %}
                {% snippet "menu/social_list.html" %}
              {% endblock %}
              <li>
                {%- if h.lang() == 'en' -%}
                <a href="{% url_for h.current_url(), locale='fr' %}" tabindex="0" aria-label="French/English">FR</a>
                {%- else -%}
                <a href="{% url_for h.current_url(), locale='en' %}" tabindex="0" aria-label="French/English">EN</a>
                {%- endif -%}
              </li>
            </ul>
          </ul>
        </nav>
      </div>
    </div>
  </nav>


  {# full page header menu #}
  <!-- Top Bar -->
  <header id="topmenu" class="nav main-nav">
    <div class="container">
      {% block header_topmenu %}
      <nav>
        <ul>
          {% block social_list %}
            {% snippet "menu/social_list.html" %}
          {% endblock %}
          <li id="language_picker">
            {%- if h.lang() == 'en' -%}
              <a href="{% url_for h.current_url(), locale='fr' %}" tabindex="0" aria-label="French/English">FR</a>
            {%- else -%}
              <a href="{% url_for h.current_url(), locale='en' %}" tabindex="0" aria-label="French/English">EN</a>
            {%- endif -%}
          </li>
          <li>
            <a href="https://cioos.ca">
              <img class="mega-menu-logo" width="auto" height="37" src="{{ h.url_for_static_or_external('/base/images/logos/cioos-banner-' + h.lang() +'.png') }}">
            </a>
          </li>
          </ul>
      </nav>
      {% endblock %}
    </div>
  </header>

  <!-- Logo and Menu -->
  <div id="header" class="nav main-nav">
    <div id="header-core">
      <div id="logo">
        {% block header_logo %}
        <a rel="home" href="{{ g.site_home_url }}"><img src="{{ logo_url }}" alt="Logo"></a>
        {% endblock %}
      </div>
      <div id="header-links" class="main-navigation">
        <div id="header-links-inner" class="header-links">
        <ul id="menu-main-menu" class="menu desktop-menu">
          {% snippet '%s' % g.header_file_name or "/menu/menu_list.html" %}
          <li>
            {%- if h.lang() == 'en' -%}
            <a href="{% url_for h.current_url(), locale='fr' %}" tabindex="0" aria-label="French/English">FR</a>
            {%- else -%}
            <a href="{% url_for h.current_url(), locale='en' %}" tabindex="0" aria-label="French/English">EN</a>
            {%- endif -%}
          </li>
        </ul>
        </div>
      </div>
    </div>
  </div>

  <script>
    window.onload = function() {
      var pDiv = document.getElementsByClassName('menu-parent');
      for (var i = 0; i < pDiv.length; i++) {
        pDiv[i].addEventListener('mouseover', function() {
          var cDiv = this.getElementsByClassName('sub-menu');
          for (var j = 0; j < cDiv.length; j++) {
            cDiv[j].classList.add("subshow")
          };
        }, false);
        pDiv[i].addEventListener('mouseout', function() {
          var cDiv = this.getElementsByClassName('sub-menu');
          for (var j = 0; j < cDiv.length; j++) {
            cDiv[j].classList.remove("subshow")
          };
        }, false);
      };
    };
  </script>

  {% endblock %}
</div>
