<li
  id="menu-item-921"
  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-896"
>
  <a href="/"><span>HOME</span></a>
</li>
<li
  id="menu-item-920"
  class="menu-item menu-item-type-post_type menu-item-object-page"
>
  <a href="/about/"><span>ABOUT</span></a>
</li>
<li
  id="menu-item-240"
  class="menu-item menu-item-type-post_type menu-item-object-page"
>
  <a href="/resorg/"><span>ORGANIZATIONS</span></a>
</li>
<li
  id="menu-item-2197"
  class="menu-item menu-item-type-custom menu-item-object-custom"
>
  <a href="/dataset/"><span>DATASETS</span></a>
</li>
<li
  id="menu-item-1571"
  class="menu-item menu-item-type-post_type menu-item-object-page"
>
  <a href="/faq/"><span>FAQ</span></a>
</li>
