<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-1478"><a href="{{g.site_home_url}}" class="elementor-item">Home</a></li>
<li class="menu-item menu-item-has-children menu-parent current-menu-item current_page_item"><a href="{{ h.url_for('home.index') }}"><span class="mega-indicator">{{_('Metadata Catalogue')}}</span></a>
  <ul class="sub-menu" style=" min-width: 161px;">
    <li class="menu-item"><a href="/dataset">{{_('Datasets')}}</a></li>
    <li class="menu-item"><a href="/organization/">{{ _('Organizations')}}</span></a></li>
    <li class="menu-item"><a href="/resorg/">{{ _('Responsible Organizations')}}</span></a></li>
  </ul>
</li>
