<li id="menu-item-921" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-896">
  <a href="https://cioos.ca/"><span>HOME</span></a>
</li>
<li id="menu-item-920" class="menu-item menu-item-type-post_type menu-item-object-page">
  <a href="https://cioos.ca/about/"><span>ABOUT</span></a>
</li>
<li id="menu-item-240" class="menu-item menu-item-type-post_type menu-item-object-page">
  <a href="https://cioos.ca/regions/"><span>REGIONS</span></a>
</li>
<li id="menu-item-2197" class="menu-item menu-item-type-custom menu-item-object-custom">
  <a href="http://catalogue.cioos.ca"><span>DATA CATALOGUE</span></a>
</li>
<li id="menu-item-1571" class="menu-item menu-item-type-post_type menu-item-object-page">
  <a href="https://cioos.ca/faq/"><span>FAQ</span></a>
</li>
