{%- if h.lang() == 'en' -%}
    <li class="menu-item menu-item-has-children menu-parent">
      <a href="https://cioospacific.ca/about/"><span class="mega-indicator">ABOUT</span></a>
      <ul class="sub-menu">
        <li class="menu-item">
          <a href="https://cioospacific.ca/about/partners/"><span class="mega-indicator">Partners</span></a>
        </li>
        <li class="menu-item">
          <a href="https://cioospacific.ca/about/data-management/"><span class="mega-indicator">Data Management</span></a>
        </li>
        <li class="menu-item">
          <a href="https://cioospacific.ca/about/essential-ocean-variables/"><span class="mega-indicator">Essential Ocean Variables</span></a>
        </li>
      </ul>
    </li>
    <li class="menu-item menu-item-has-children menu-parent">
      <a href="https://cioospacific.ca/applied-data/"><span class="mega-indicator">APPLIED DATA</span></a>
      <ul class="sub-menu">
        <li class="menu-item">
          <a href="https://cioospacific.ca/applied-data/baynes-sound/"><span class="mega-indicator">Baynes Sound Ocean Monitor</span></a>
        </li>
        <li class="menu-item">
          <a href="https://cioospacific.ca/applied-data/a-fever-on-canadas-pacific-coast/"><span class="mega-indicator">A Fever on Canada’s Pacific Coast</span></a>
        </li>
        <li class="menu-item">
          <a href="https://cioospacific.ca/applied-data/station-papa/"><span class="mega-indicator">Ocean Climate</span></a>
        </li>
        <li class="menu-item">
          <a href="https://cioospacific.ca/applied-data/sog-currents/"><span class="mega-indicator">Strait of Georgia Currents</span></a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="https://cioospacific.ca/data-tools/"><span class="mega-indicator">DATA TOOLS</span></a>
    </li>
    <li class="menu-item menu-item-has-children menu-parent">
      <a href="http://localdev1.local/"><span class="mega-indicator">DATA CATALOGUE</span></a>
      <ul class="sub-menu">
        <li class="menu-item">
          <a href="http://localdev1.local/dataset"><span class="mega-indicator">Datasets</span></a>
        </li>
        <li class="menu-item">
          <a href="http://localdev1.local/organization"><span class="mega-indicator">Organizations</span></a>
        </li>
      </ul>
    </li>
  {% else %}
    <li class="menu-item menu-item-has-children menu-parent">
      <a href="https://cioospacific.ca/fr/a-propos/"><span class="mega-indicator">À PROPOS</span></a>
      <ul class="sub-menu">
        <li class="menu-item">
          <a href="https://cioospacific.ca/fr/a-propos/partenaires/"><span class="mega-indicator">Partenaires</span></a>
        </li>
        <li class="menu-item">
          <a href="https://cioospacific.ca/fr/a-propos/gestion-de-donnees/"><span class="mega-indicator">Gestion de données</span></a>
        </li>
        <li class="menu-item">
          <a href="https://cioospacific.ca/fr/a-propos/variables-oceaniques-essentielles/"><span class="mega-indicator">Variables océaniques essentielles</span></a>
        </li>
      </ul>
    </li>
    <li class="menu-item menu-item-has-children menu-parent">
      <a href="https://cioospacific.ca/fr/application-de-donnees/"><span class="mega-indicator">APPLICATIONS DE DONNÉES</span></a>
      <ul class="sub-menu">
        <li class="menu-item">
          <a href="https://cioospacific.ca/fr/application-de-donnees/surveillance-de-lecosysteme-de-baynes-sound/"><span class="mega-indicator">Surveillance des océans de Baynes Sound</span></a>
        </li>
        <li class="menu-item">
          <a href="https://cioospacific.ca/applied-data/a-fever-on-canadas-pacific-coast/"><span class="mega-indicator">Une canicule sur la côte pacifique du Canada</span></a>
        </li>
        <li class="menu-item">
          <a href="https://cioospacific.ca/fr/application-de-donnees/climat-des-oceans/"><span class="mega-indicator">Climat des océans</span></a>
        </li>
        <li class="menu-item">
          <a href="https://cioospacific.ca/fr/application-de-donnees/les-courants-du-detroit-de-georgie/"><span class="mega-indicator">Courants dans le détroit de Géorgie</span></a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="https://cioospacific.ca/fr/outils-de-donnees/"><span class="mega-indicator">OUTILS DE DONNÉES</span></a>
    </li>
    <li class="menu-item menu-item-has-children menu-parent">
      <a href="http://localdev1.local/fr/"><span class="mega-indicator">CATALOGUE DE DONNÉES</span></a>
      <ul class="sub-menu">
        <li class="menu-item">
          <a href="http://localdev1.local/fr/dataset"><span class="mega-indicator">Ensembles de données</span></a>
        </li>
        <li class="menu-item">
          <a href="http://localdev1.local/fr/organization"><span class="mega-indicator">Organisations</span></a>
        </li>
      </ul>
    </li>
  {% endif %}
