{%- if h.lang() == 'en' -%}
<li id="menu-item-921" class="menu-item  menu-item-home">
  <a href="{{ g.site_home_url }}"><span>Home</span></a>
</li>
<li id="menu-item-1999" class="menu-item">
  <a href="{{ h.url_for('home.index') }}dataset">Datasets</a>
</li>
<li id="menu-item-2001" class="menu-item">
  <a href="{{ h.url_for('home.index') }}organization">Organizations</a>
</li>
{%- else -%}
<li id="menu-item-921" class="menu-item  menu-item-home">
  <a href="{{ g.site_home_url }}fr/"><span>Accueil</span></a>
</li>
<li id="menu-item-1999" class="menu-item">
  <a href="{{ h.url_for('home.index') }}dataset">Jeux de données</a>
</li>
<li id="menu-item-2001" class="menu-item">
  <a href="{{ h.url_for('home.index') }}organization">Organisations</a>
</li>
{%- endif -%}
