{% extends "page.html" %}

{% set pkg = c.pkg_dict or pkg_dict %}
{% block subtitle %}{{ _('DataCite XML') }}{% endblock %}
{% set dataset_type = dataset_type or pkg.type or 'dataset' %}
{% set dataset = h.dataset_display_name(pkg) %}

{% block breadcrumb_content %}
<li>{% link_for _(dataset_type.title()), named_route=dataset_type ~ '.search' %}</li>
<li>{% link_for dataset|truncate(30), named_route=pkg.type ~ '.read', id=pkg.id if is_activity_archive else pkg.name %}</li>
<li class="active">{% link_for _('DataCite XML'), controller='cioos', action='datacite_xml', id=pkg['name'] %}</li>
{% endblock %}

{% block primary %}
<section class="module">
  <div class="module-content">
    <div class="col-sm-12">
      <table>
        {% set doi = h.cioos_load_json(pkg['unique-resource-identifier-full']) %}
        {% if doi %}
        {% set doi = doi['code'] %}
        {% endif %}
        {% if h.is_url(doi) %}
        {% set doi = doi.replace(h.cioos_get_doi_authority_url(), '') %}
        {% endif %}
        <tr>
          <th>DOI:</th>
          <td>{{doi or 'Will be set later, during upload'}}</td>
        </tr>
        <tr>
          <th>URL:</th>
          <td>{{h.url_for(controller='dataset', action='read', id=pkg['name'], _external=True)}}</td>
        </tr>
        {% if h.cioos_get_datacite_test_mode() == 'True' %}
        <tr>
          <th>DateCite:</th>
          <td><a href="https://doi.test.datacite.org/repositories/{{ h.cioos_get_datacite_org() or '*NOT SET*'}}/dois/upload" target="_blank">Test Upload Link</a></td>
        </tr>
        {% else %}
        <tr>
          <th>DateCite:</th>
          <td><a href="https://doi.datacite.org/repositories/{{ h.cioos_get_datacite_org() or '*NOT SET*'}}/dois/upload" target="_blank">Live Upload Link</a></td>
        </tr>
        {% endif %}
      </table>
    </div>
  </div>
</section>

<section class="module">
  <div class="module-content">
    <div class="col-sm-10">
      <h3>XML</h3>
    </div>
    <div class="col-sm-2">
      <button type="button" style="margin-top: 20px; margin-bottom: 10px; float: right;" onclick="saveXML(name='{{pkg['name']}}')">Save</button>
    </div>

    <textarea id='xml' style="width: 100%; height: 600px;">
      {% snippet "snippets/datacite_xml.html", pkg=pkg %}
    </textarea>
  </div>
</section>

<script src="{{h.url_for_static('/js/FileSaver.min.js')}}" type="text/javascript"></script>

<script>
  function saveXML() {

    let el = document.querySelectorAll("#xml");
    var textProperty = 'textContent' in document ? 'textContent' : 'innerText';
    let blob = new Blob([el[0][textProperty]], {
      type: "text/xml;charset=utf-8"
    });
    saveAs(blob, "metadata.xml");
  }
</script>
{% endblock %}

{% block secondary %}{% endblock %}
