{% extends "package/base.html" %}

{% block subtitle %}{{ h.dataset_display_name(pkg) }} {{ g.template_title_delimiter or '-'}} {{ super() }}{% endblock %}

{% block head_extras -%}
  {{ super() }}
  {% set description = h.markdown_extract(h.scheming_language_text(pkg.notes))|forceescape %}
  <meta property="og:title" content="{{ h.dataset_display_name(pkg) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape|trim }}">
{% endblock -%}

{% block content_action %}
  {% if not is_activity_archive %}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    {% link_for _('Manage'), named_route=pkg.type ~ '.edit', id=pkg.name, class_='btn btn-default', icon='wrench' %}
  {% endif %}
    {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon(dataset_type ~ '.read', _('Dataset'), id=pkg.name) }}
  {# h.build_nav_icon(dataset_type ~ '.groups', _('Groups'), id=pkg.id if is_activity_archive else pkg.name, icon='users') #}
  {{ h.build_nav_icon(dataset_type ~ '.activity', _('Activity Stream'), id=pkg.name) }}
{% endblock %}

{# block primary_content_inner %}
    {% block package_revision_info %}
      {% if c.revision_date %}
        <div class="module info alert alert-info">
          <p class="module-content">
            {% set timestamp = h.render_datetime(c.revision_date, with_hours=True) %}
            {% set url = h.url_for(controller='dataset', action='read', id=pkg.name) %}

            {% trans timestamp=timestamp, url=url %}This is an old revision of this dataset, as edited at {{ timestamp }}. It may differ significantly from the <a href="{{ url }}">current revision</a>.{% endtrans %}
          </p>
        </div>
      {% endif %}
    {% endblock %}

{% endblock #}

{% block secondary_content %}

{#
  {% set dataset_extent = h.get_pkg_dict_extra(c.pkg_dict, 'spatial', '') %}
  {% if dataset_extent %}
    {% snippet "spatial/snippets/dataset_map_sidebar.html", extent=dataset_extent %}
  {% endif %}
#}

  {% block secondary_help_content %}{% endblock %}

  {% block package_info %}
    {% snippet 'package/snippets/info.html', pkg=pkg %}
  {% endblock %}

{% if g.hide_organization_in_dataset_sidebar.lower()|default('', 'false') != 'true' %}
  {% block package_organization %}
    {% if pkg.organization %}
      {% set org = h.get_organization(pkg.organization.name) %}
      {% snippet "snippets/organization.html", organization=org, has_context_title=true %}
    {% endif %}
  {% endblock %}
{% endif %}

{% if g.show_social_in_dataset_sidebar.lower()|default('', 'false')  == 'true' %}
  {% block package_social %}
    {% snippet "snippets/social.html" %}
  {% endblock %}
{% endif %}

{% if g.show_responsible_organization_in_dataset_sidebar.lower()|default('', 'true')  == 'true' %}
<section class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-database"></i>
      {{ _('Responsible Organizations') }}
    </h2>
    {% with items = pkg.responsible_organizations %}
    {% if items %}
      <nav>
        <ul class="{{ nav_class or 'list-unstyled nav nav-simple nav-facet' }}">
          {% for item in items %}
            {% set href = h.add_url_param(new_params={'responsible_organizations': item}, controller='dataset', action='search') %}
            {% set label = item %}
            {% set label_truncated = h.truncate(label, 30) %}
              <li class="nav-item">
                <a href="{{ href }}" title="{{ label if label != label_truncated else '' }}">
                  <span class="item-label">{{ label_truncated }}</span>
                </a>
              </li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
    {% endwith %}
</section>
{% endif %}

  {% block package_license %}
    {% snippet "snippets/license.html", pkg_dict=pkg, has_context_title=true %}
  {% endblock %}




{% endblock %}


{% block body_extras %}
  {{ super() }}
  {% block structured_data %}
    {#
    h.structured_data is defined in the 'structured_data' plugin,
    you have to activate the plugin (or implement the method yourself)
    to make use of this feature.
    More information about structured data:
    https://developers.google.com/search/docs/guides/intro-structured-data
    #}
      {% if h.helper_available('structured_data') %}
          <script type="application/ld+json">
           {{ h.structured_data(pkg.id)|safe }}
          </script>
      {% endif %}
  {% endblock %}
{% endblock %}
