{% ckan_extends %}

{% set pkg = c.pkg_dict %}
{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}

{% block primary_content_inner %}
  {% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}
    <h1>
      {% block page_heading %}
        {{ h.dataset_display_name(pkg) }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
        {% if pkg.state == 'deleted' %}
          [{{ _('Deleted') }}]
        {% endif %}
      {% endblock %}
    </h1>

    {% block package_notes %}
      {# this block will be overwriten by scheming/package/read.html if the scheming extension is being used #}
      {%- if not dataset_type -%}
        <p>
        dataset_type not passed to template. your version of CKAN
        might not be compatible with ckanext-scheming
        </p>
      {%- endif -%}
      {% if ( h.scheming_field_by_name(schema.dataset_fields, 'notes') or h.scheming_field_by_name(schema.dataset_fields, 'notes_translated') ) and h.get_translated(pkg, 'notes') %}
        <div class="notes embedded-content">
          {{ h.markdown_extract(h.get_translated(pkg, 'notes'), extract_length=200) }}
        </div>
      {% endif %}
    {% endblock %}

  {% endblock %}

  {% block package_access %}
    {% snippet "package/snippets/access.html", pkg_dict=pkg %}
  {% endblock %}

  {% block package_resources %}
    {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
  {% endblock %}



  {% block package_citation %}
    {% if pkg.citation %}
      {% snippet "package/snippets/package_citation.html", pkg_dict=pkg %}
    {% endif %}
  {% endblock %}

  {% block package_relationships %}
    {# snippet "package/snippets/relationships.html", pkg_dict=pkg, relationships=h.get_pkg_dict_extra(c.pkg_dict, 'associated-datasets')  #}
    {% snippet "package/snippets/relationships.html", pkg_dict=pkg, relationships=h.cioos_get_package_relationships(pkg)%}
  {% endblock %}

  {% block package_img_preview %}
    {% snippet "package/snippets/preview.html", pkg_dict=pkg %}
  {% endblock %}

  {% block package_tags %}
    {% snippet "package/snippets/tags.html", tags=h.cioos_load_json(pkg.get('keywords', {}))[h.lang()] %}
  {% endblock %}

  {% set dataset_extent = h.get_pkg_dict_extra(c.pkg_dict, 'spatial') or c.pkg_dict.get('spatial') %}
  {% if dataset_extent %}
    {% snippet "spatial/snippets/dataset_map.html", extent=dataset_extent, max_zoom=h.spatial_get_map_initial_max_zoom(pkg) %}
  {% endif %}

  {% block package_dates %}
    {% snippet "package/snippets/dates.html", pkg_dict=pkg %}
  {% endblock %}

  {% block package_metadata_source %}
    {% snippet "package/snippets/metadata_source.html", pkg_dict=pkg %}
  {% endblock %}

  {% block package_additional_info %}
    {% snippet "scheming/package/snippets/additional_info.html", pkg_dict=pkg, dataset_type=dataset_type, schema=schema %}
  {% endblock %}

{% endblock %}

{% block secondary_content %}
  {{ super() }}

  <section class="module module-narrow module-shallow">
      <h2 class="module-heading">
        <i class="fa fa-icon fa-link"></i>
        {{ _('Formats') }}
      </h2>
      <nav>
        <ul class="list-unstyled nav nav-simple">
        {% if c.userobj %}
          <li class="nav-item"><a href="{{ h.url_for(controller='dataset', action='read', id=pkg.get('name') or pkg.id) }}.dcxml"><span class="item-label">{{ _('DataCite XML')}}</span></a></li>
          {% endif %}
          {% if h.cioos_helper_available('structured_data') %}
          <li class="nav-item"><a href="{{ h.url_for(controller='dataset', action='read', id=pkg.get('name') or pkg.id) }}.xml"><span class="item-label">{{ _('RDF/XML')}}</span></a></li>
          <li class="nav-item"><a href="{{ h.url_for(controller='dataset', action='read', id=pkg.get('name') or pkg.id) }}.ttl"><span class="item-label">{{ _('Turtle')}}</span></a></li>
          <li class="nav-item"><a href="{{ h.url_for(controller='dataset', action='read', id=pkg.get('name') or pkg.id) }}.n3"><span class="item-label">{{ _('Notation3')}}</span></a></li>
          <li class="nav-item"><a href="{{ h.url_for(controller='dataset', action='read', id=pkg.get('name') or pkg.id) }}.jsonld"><span class="item-label">{{ _('JSON-LD')}}</span></a></li>
        {% endif %}
          <li class="nav-item"><a href="{{ h.url_for(controller='dataset', action='read', id=pkg.get('name') or pkg.id) }}"><span class="item-label">{{ _('Show Permalink')}}</span></a></li>
        </ul>
      </nav>
  </section>
{% endblock %}
