{% extends "package/base.html" %}

{% block subtitle %}{{ h.dataset_display_name(pkg) }} {{ g.template_title_delimiter or '-'}} {{ super() }}{% endblock %}

{% block head_extras -%}
  {{ super() }}
  {% set description = h.markdown_extract(h.scheming_language_text(pkg.notes))|forceescape %}
  <meta property="og:title" content="{{ h.dataset_display_name(pkg) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape|trim }}">
{% endblock -%}

{% block content_action %}
  {% if not is_activity_archive %}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    {% link_for _('Manage'), named_route=pkg.type ~ '.edit', id=pkg.name, class_='btn btn-default', icon='wrench' %}
  {% endif %}
    {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon(dataset_type ~ '.read', _('Dataset'), id=pkg.name) }}
  {{ h.build_nav_icon('cioos.resorg', _('Responsible Organizations'), package_type=dataset_type, id=pkg.id if is_activity_archive else pkg.name, icon='users') }}
  {{ h.build_nav_icon(dataset_type ~ '.activity', _('Activity Stream'), id=pkg.name) }}
{% endblock %}

{# block primary_content_inner %}
    {% block package_revision_info %}
      {% if c.revision_date %}
        <div class="module info alert alert-info">
          <p class="module-content">
            {% set timestamp = h.render_datetime(c.revision_date, with_hours=True) %}
            {% set url = h.url_for(controller='dataset', action='read', id=pkg.name) %}

            {% trans timestamp=timestamp, url=url %}This is an old revision of this dataset, as edited at {{ timestamp }}. It may differ significantly from the <a href="{{ url }}">current revision</a>.{% endtrans %}
          </p>
        </div>
      {% endif %}
    {% endblock %}

{% endblock #}

{% block secondary_content %}

  {#
    {% set dataset_extent = h.get_pkg_dict_extra(c.pkg_dict, 'spatial', '') %}
    {% if dataset_extent %}
      {% snippet "spatial/snippets/dataset_map_sidebar.html", extent=dataset_extent %}
    {% endif %}
  #}

    {% block secondary_help_content %}{% endblock %}

    {% block package_info %}
      {% snippet 'package/snippets/info.html', pkg=pkg %}
    {% endblock %}

  {% if g.hide_organization_in_dataset_sidebar.lower()|default('', 'false') != 'true' %}
    {% block package_organization %}
      {% if pkg.organization %}
        {% set org = h.get_organization(pkg.organization.name) %}
        {% snippet "snippets/organization.html", organization=org, has_context_title=true %}
      {% endif %}
    {% endblock %}
  {% endif %}

  {% if g.show_social_in_dataset_sidebar.lower()|default('', 'false')  == 'true' %}
    {% block package_social %}
      {% snippet "snippets/social.html" %}
    {% endblock %}
  {% endif %}

  {% block harvest_source %}
  {% set organization = h.cioos_load_json(h.cioos_get_extra_value('harvest_source_organization', pkg)) %}
  {% set source_id = pkg.extras | selectattr("key","equalto","harvest_source_id") | map(attribute="value") | join('') %}
  {% set url = h.url_for('harvest.read', id = source_id) %}
  {% if organization %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-book"></i>
      {{ _('Harvested From') }}
    </h2>

    <section class="module-content">

    {% set image_url = organization.image_display_url or h.get_translated(organization, 'image_url') %}
    {% if image_url %}
    <div class="image">
      <a href="{{ url }}" title="{{ h.get_translated(organization, 'title') }}">
        <img src="{{ image_url }}" width="200" alt="{{ organization.name }}" />
      </a>
    </div>
    {% else %}

    <h1 class="heading">{{ h.get_translated(organization, 'title') or organization.name }}
      {% if organization.state == 'deleted' %}
        [{{ _('Deleted') }}]
      {% endif %}
    </h1>

    {% endif %}

    {% if h.get_translated(organization, 'description') %}
      <p>
        {{ h.render_markdown(h.get_translated(organization, 'description'), 180) }}
      </p>
    {% endif %}


    </section>
  </section>
  {% endif %}


  {% endblock %}

  {% block package_license %}
    {% if pkg.license_id %}
    {% set licence = h.cioos_get_license_def(pkg.license_id, pkg.license_url, pkg.license_title) or {} %}
    {% snippet "snippets/license.html", pkg_dict=h.cioos_merge_dict(pkg,licence), has_context_title=true %}
    {% endif %}
  {% endblock %}

  <section class="module module-narrow module-shallow resource-type">
   <h2 class="module-heading"><i class="fa fa-tag"></i> {{ _('Resource Type') }}</h2>
    <p class="module-content">
      {% set href = h.add_url_param(new_params={'resource-type': pkg['resource-type']}, controller='dataset', action='search') %}
       <a href="{{ href }}" title="{{pkg['resource-type']}}">
      <span>{{pkg['resource-type'] | title}}</span>
      </a>
    </p>
    </section>


{% endblock %}


{% block body_extras %}
  {{ super() }}
  {% block structured_data %}
    {#
    h.structured_data is defined in the 'structured_data' plugin,
    you have to activate the plugin (or implement the method yourself)
    to make use of this feature.
    More information about structured data:
    https://developers.google.com/search/docs/guides/intro-structured-data
    #}
      {% if h.cioos_helper_available('structured_data') %}
          <script type="application/ld+json">
           {{ h.cioos_structured_data(pkg)|safe }}
          </script>
      {% endif %}


  {% endblock %}
{% endblock %}
