$bodyfont: "adobe-garamond-pro",
"Georgia",
serif; //bodyfont
$headlinefont: "nimbus-sans",
"Arial",
sans-serif; //headlines, captions and infoboxes
$headerfont: "fira-sans",
"Arial",
sans-serif; //Site header slogan

$darkestblack: rgba(73, 73, 72, 1); //the darkest black used for font color and body copy
$maincolor: rgba(30, 93, 111, 1); //Header color - behind the logo - #205f71;
$lighttextcolor: lighten($darkestblack, 95%); //white text #ffffff
$specialseries: rgba(190, 228, 234, 1);
$navbg: #52a79b; //Dark blue, behind nav area, behind share logos #1c4552
$navbghover: $maincolor; //Used in pagination hover
$hakaigrey: rgba(149, 149, 145, 1); //Used in Author color, share button BG, single page #BBB
$hakaigreylight: rgba(243, 241, 237, 1); //Used in correction backgrounds and audio edition BG
$body_link_color: rgba(79, 170, 189, 1); //Colour of text links in body copy
$body_link_hover_color: $maincolor; //Colour of text link
$rotatingheaderselectbg: rgba(0, 0, 0, 1);
$captionlink: lighten($navbg, 50%);
$captionlinkcolor: lighten($navbghover, 40%);


//Layout
$number_of_columns:4;
$master_margin_width: 30px;
$singlepagecontainer: 600px;

//Fullscreen
$papabreak: 1140px;
$papawidth: 1140px;

//tablets landscape and small screens
$mamabreak: 980px;
$mamawidth: 900px;

//tablets portrait all the way down to the smallest phones.
$teenbreak: 770px;
$teenwidth: 100%;





.media-heading {
  font-size: 16px;
}

.media-item {
  position: relative;
  float: left;
  width: 150px;
  padding: 15px;
  margin: 0 0 10px 10px;
  background-color: white;
  border-radius: 3px;
  min-height: 200px;
}

.media-grid {
  background: none;
  background-color: #f8f8f8;
  border: 1px solid #52a7d7;
}

[role=main],
.main {
  padding-top: 10px;
  background: none;
  background-color: #ffffff;
}

.box {
  background-color: #f8f8f8;
  box-shadow: none;
}

/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */

.account-masthead {
  background-color: #3c7394;
  color: white;
  border-top: 1px solid #00232e;
  background-image: none
}

.account-masthead .account {
  border-right: 1px solid #00232e
}

/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background-color: #3c7394;
}

/* The text and icons in the user account info. */
.account-masthead .account ul li a {
  color: rgba(0, 0, 0, 0.6);
}

/* The user account info text and icons, when the user's pointer is hovering
   over them. */
.account-masthead .account ul li a:hover {
  color: rgba(0, 0, 0, 0.7);
  background-color: #3c7394;
}


/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */
.masthead {
  background-color: #52a7d7;
  color: #284162;
}

/* The "navigation pills" in the masthead (the links to Datasets,
   Organizations, etc) when the user's pointer hovers over them. */
.masthead .navigation .nav-pills li a:hover {
  background-color: #3e628f;
  color: #3c7394;
}

/* The "active" navigation pill (for example, when you're on the /dataset page
   the "Datasets" link is active). */
.masthead .navigation .nav-pills li.active a {
  background-color: #22364f;
  color: white;
}

.masthead .navigation .nav-pills li a {
  background-color: #52a7d7;
  color: white;
}


/* ===========================================
   The content in the middle of the front page
   =========================================== */

/* Change the colors of the "Search Your Data" box. */
/* .homepage .module-search .module-content {
  color: rgb(68, 68, 68);
  background-color: #f8f8f8;
} */

/* Change the colors of the "Search Your Data" box. */
/* .homepage .module-search .module-content {
  color: rgb(68, 68, 68);
  background-color: #f8f8f8;
} */

/* Change the background color of the "Popular Tags" box. */
/* .homepage .module-search .tags {
  background-color: #52a7d7;
} */

/* ====================================
   The footer at the bottom of the site
   ==================================== */
.site-footer {
  background-color: #3c7394;
}

body {
  background: #ffffff;
  font-family: 'Montserrat', sans-serif;
}



#topmenu {
  background: #52A79B;
  color: #fff;
  overflow: hidden;
}

#topmenu nav {
  width: 50%;
  float: right;
  padding: 0

}

#topmenu li {
  float: right;
  display: block;
  margin: 0 0 0 35px;
  padding: 0;
  vertical-align: middle;
  height: 45px;
  line-height: 45px;

}


#topmenu a {
  color: #fff;
}
#topmenu img {
  vertical-align: middle;
  border: none;
  height: auto;

}
#mainmenu {
  border: 1px solid #52A79B;
  border-width: 0 0 1px 0;
  width: 100%;
}

#mainmenu img {
    padding: .75em 0 .25em 2em;
    width:auto;
  max-height: 85px
}

#mainmenu nav {
  // width: 50%;
  float: right;
  padding: .75em 2em .25em 0;
}

#mainmenu ul {
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

#mainmenu li {
  float: right;
  display: block;
  margin: 3em 0 0 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 15px;
  padding-left: 15px;
}

.box,
.wrapper {
  background-color: #F8F8F8;
  border-radius: 0;
  box-shadow: none;
  position: relative;
}
.homepage {
  .box,
  .wrapper {
  background-color: #f8f8f8;
  border: 1px solid #52a79b;
  border-width: 0 0 0 4px;
  border-radius: 0;
  box-shadow: none;
  position: relative
  }
}

@media (min-width: $teenbreak) {
  .container {
    max-width: $teenwidth;
    width: unset;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: $mamabreak) {
  .container {
    max-width: $mamawidth;
    width: unset;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: $papabreak) {
  .container {
    max-width: $papawidth;
    width: unset;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Main navigation
================================================== */

header nav,
.header nav,
.nav nav {
  float: left;

  ul#menu-primary {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: table-cell;
      padding: 0;

      a {
        text-decoration: none;
      }
    }
  }
}

.skip-link {
  position: absolute;
  left: 100000px
}

.main-nav-check,
.mobile-nav,
.toggle-menu {
  display: none;
}


/* Mobile navigation
================================================================================================ */
@media only screen and (max-width: $teenbreak) {
  nav .container {
    width: 100%;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .main-nav,
  .navarea {
    display: none;
  }

  .mobile-nav {
    display: block;
    z-index: 100;
    position: relative;
    top: 0px;
    width: 100%;
    margin: 0;
    height: auto;
    overflow: hidden;
    transition: all 0.3s ease;
    margin: 0;
    background: $navbg;

    ul.menu {
      margin: 0;
      padding: 0;
      overflow: hidden;
      list-style: none;
      ul.shareicons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background: #44887e;
        a {
          text-align:center;
          padding:0;
          margin:0;
        }
      }
      li {
        float: left;
        padding: 0;
        margin: 0;
        width: 100%;
        list-style: none;

        a {
          text-align: left;
          float: left;
          display: block;
          overflow: hidden;
          text-decoration: none;
          width: 98%;
          padding: 0 0 0 5%;
          display: block;
          font-size: inherit;
          color: #fff;
          border: 1px solid darken($navbg, 5%);
        }
      }

      li.menu-item-has-children a {
        width: 69%;
        float: left;
      }

      li.menu-item-has-children ul li a {
        width: 100%;
        border-width: 0 0 1px 0;
      }

      li.menu-item-has-children a.navdrop,
      li.menu-item-has-children a.navdropover {
        width: 25%;
        text-indent: 0px;
        float: right;
        font-family: 'FontAwesome';
        background: lighten($navbg, 10%);
        text-align: center;
        padding: 0;
        border: 0 solid $navbg;

        span {
          display: none;
        }

        &:after {
          content: "More";
          font-family: $headlinefont;
          margin: 0 0 0 .5em
        }

        &:before {
          content: "\f055";
        }
      }

      li.menu-item-has-children a.navdropover {
        &:after {
          content: "More";
          font-family: $headlinefont;
          margin: 0 0 0 .5em
        }

        &:before {
          content: "\f056";
        }
      }

      li.menu-item-has-children li.menu-item-has-children a.navdrop,
      li.menu-item-has-children li.menu-item-has-children a.navdropover {
        background: lighten($navbg, 20%);
        border: 0 solid lighten($navbg, 10%);
        text-indent: 0px;

        &:before {
          content: "";
        }
      }

      li.menu-item-has-children li.menu-item-has-children li.menu-item-has-children a.navdrop,
      li.menu-item-has-children li.menu-item-has-children li.menu-item-has-children a.navdropover {
        background: lighten($navbg, 30%);
        border: 0 solid lighten($navbg, 20%);
        text-indent: 0px;

        &:before {
          content: "";
        }
      }

      ul.sub-menu {
        margin: 0;
        position: relative;
        z-index: 100;
        font-size: inherit;
        border: none;
        width: 100%;
        list-style: none;

        li {
          margin: 0;
          width: 100%;
          background: lighten($navbg, 10%);

          a {
            color: $lighttextcolor;
            padding: 0 0 0 5%;
            border: 0 solid lighten($navbg, 15%);

            &:before {
              content: "";
            }
          }
        }

        ul.sub-menu {
          margin: 0;
          position: relative;

          li {
            background: lighten($navbg, 20%);

            a {
              border: 0 solid lighten($navbg, 25%);
              text-indent: 20px;

              &:before {
                content: "-- ";
              }
            }
          }

          ul.sub-menu {
            margin: 0;
            position: relative;

            li {
              background: lighten($navbg, 30%);

              a {
                border: 0 solid lighten($navbg, 35%);
                text-indent: 30px;

                &:before {
                  content: "--- ";
                }
              }
            }
          }
        }
      }
    }
  }

  /* Mobile topbar
  ======================= */
  .topbar {
    margin-top: 30px;
  }

  .toggle-menu {
    display: block;
    text-align: center;

    label {
      margin: 0;
      display: block;
      background: $navbg;
      overflow: hidden;
      padding: 2% 5%;
      color: #fff;
      font-family: $headlinefont;
      top: 0;
      z-index: 1000;
      box-shadow: 0px 6px 19px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      text-align: right;

      &:before {
        margin-right: .3333em;
        content: "\f055";
        font-family: 'FontAwesome';
        transition: all 0.3s ease;
      }
    }
  }

  .main-nav-check {
    display: none;
  }

  .close-menu {
    display: none;
  }

  /* Mobile navigation Animations
  ================================== */

  #main-nav-check:checked~.toggle-menu label:before {
    content: "\f056";
  }

  #main-nav-check~.mobile-nav ul.menu li a,
  #main-nav-check:checked~.mobile-nav ul.menu ul.subhide li a,
  #main-nav-check:checked~.mobile-nav ul.menu ul.subshow ul.subhide li a,
  #main-nav-check:checked~.mobile-nav ul.menu ul.subhide ul.subshow li a,
  #main-nav-check:checked~.mobile-nav ul.menu ul.subhide li a.navdrop,
  #main-nav-check:checked~.mobile-nav ul.menu ul.subhide li a.navdropover,
  #main-nav-check:checked~.mobile-nav ul.menu ul.subshow ul.subhide li a.navdrop,
  #main-nav-check:checked~.mobile-nav ul.menu ul.subshow ul.subhide li a.navdropover,
  #main-nav-check:checked~.mobile-nav ul.menu ul.subhide ul.subshow li a.navdrop,
  #main-nav-check:checked~.mobile-nav ul.menu ul.subhide ul.subshow li a.navdropover {
    border-width: 0;
    line-height: 0;
    transition: all 0.2s ease;
    height: 0;
  }

  #main-nav-check:checked~.mobile-nav ul.menu li a.navdrop,
  #main-nav-check:checked~.mobile-nav ul.menu li a.navdropover,
  #main-nav-check:checked~.mobile-nav ul.menu ul.subshow li a.navdrop,
  #main-nav-check:checked~.mobile-nav ul.menu ul.subshow li a.navdropover {
    border-width: 1px 0 0 0;
    line-height: 2.75em;
    transition: all 0.2s ease;
    border-bottom: 1px solid transparent;
  }

  #main-nav-check:checked~.mobile-nav ul.menu li a {
    line-height: 2.5em;
    border-width: 1px 0 0 0;
    transition: all 0.2s ease;
    height: auto;
    width: 100%;
  }

  #main-nav-check:checked~.mobile-nav ul.menu ul.subshow li a {
    line-height: 2.5em;
    border-width: 0 0 1px 0;
    transition: all 0.2s ease;
    height: auto;
  }

  #main-nav-check~.mobile-nav ul.menu li a.icons,
  #main-nav-check~.mobile-nav form {
    height: 0;
    display: none;
  }

  #main-nav-check:checked~.mobile-nav ul.menu li a.icons,
  #main-nav-check:checked~.mobile-nav form {
    line-height: 1em;
    display: block;
    height: auto;
    border: none;
    border-width: 0;
    transition: all 0.2s ease;
  }

  #main-nav-check~.mobile-nav.headericons {
    border-top: 0px;
    padding: 0;
    transition: all 0.2s ease;
  }

  #main-nav-check:checked~.mobile-nav.headericons {
    border-top: 1px solid darken($navbg, 5%);
    padding: 1em 0 0 0;
    transition: all 0.2s ease;
  }
}

.mapbg {
  text-align: center;
  margin: 0 0 1em 0;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.home-intro-text {
  @media (min-width: 1000px) {
    padding: 0 0px
  }

  @media (min-width: 1192px) {
    padding: 0 180px
  }

  @media (min-width: 1400px) {
    padding: 0 280px
  }
}

.btn-primary {
  color: #404041;
  background-color: #C6E3DF;
  border-color: #C6E3DF;
  padding: 0 30px 10px !important;
  margin: 0 30px;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: Quicksand;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 20px;
}

/* ===========================================
   News widget
   =========================================== */
.search-input-group .btn {
  border-color: #fa7268
}

.newsitem {
  position: relative;
  display: inline-block;
  padding: 5px 20px;
  overflow: hidden;
  z-index: 1;
}

.newsitem header {
  border: 1px solid #ddd;
  background: #fff;
  text-align: center;
}

.newsitem p {
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 22px;
  background: #52A79B;
  width: 150px;
  padding: 3px 10px;
}

.newsitem .newsday {
  font-size: 3em;
  width: 50%;
  display: inline-block;
  color: #fff
}

.newsitem .newsmonth {
  width: 50%;
  display: inline-block;
  color: #fff
}

.newsitem p:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -20px;
  left: -20px;
  z-index: -2;
  border: 20px solid;
  border-color: transparent #437a7a transparent transparent;
}

.rabox img {
  max-width: 30%;
}

.form-control {
  border-radius: 30px;
  border-color: #FA7268;
}

.search-form .search-input.search-giant button {
  top: 15px;
  right: 15px;
  background: #fa7268;
  border-radius: 27px;
  width: 54px;
  height: 100%;
}

.search-form .search-input button i {
  color: #fff;
}

.centertext {
  text-align: center;
}

.title h1 {
  font-size: 70px;
  font-weight: 600;
  color: #707070;
}

.title h1 span {
  font-weight: 300;
}

.title h2 {
  font-size: 50px;
  font-weight: 300;
  color: #707070;
}

.title h2 span {
  color: #FA7268;
}

.title h2 span a {
  color: #fa7268;
  text-decoration: none
}

.title h2 span a:hover {
  color: #fa7268;
  text-decoration: none
}

.search-form {
  border-bottom: none;
}

.rightalign {
  text-align: right;
}

/* ===========================================
   homepage content
   =========================================== */
.homepage .module-content-end {
  margin-bottom: 100px;
}

#footer {
  background-color: #52A79B;
  background-repeat: no-repeat;
  background-position: 111%;
  color: #fff;
  padding: 10px;
}

/* The text in the footer. */
.site-footer,
.site-footer label,
.site-footer small {
  color: rgba(0, 0, 0, 0.6);
}

/* The link texts in the footer. */
.site-footer a {
  color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: $teenbreak) and (min-width: 0) {

  .invis,
  .screen-reader-text {
    display: none;
  }

  .logo {
    margin: 1em;
    overflow: hidden;
    display: block;
  }
}

.logo img {
    width: auto;
    max-height: 85px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.media-grid {
    border: none;
}


.composite-control-repeating {
  padding-left: 0;
  height: auto
}

.composite-control-repeating .composite-subfield {
  padding-left: 20px;
  margin-bottom: 10px
}

.media-item-disabled {
  pointer-events: none;
  opacity: .6
}

div.search-input-group {
  width: 100%;
}

.search-input-group .btn {
    position: absolute;
    right: 0px;
    background: #fa7268;
    border-radius: 23px;
    width: 46px;
    height: 100%;
}

.search-input-group #field-giant-search{
  border-radius: 23px
}

.search-form .search-input-group button {
    border-color: #fa7268;
}

.search-form .search-input-group button i {
    color: #fff;
    font-size: 24px;
    width: 24px;
}

.search-form .search-input-group button:hover i {
    color: #000000;
}

.toolbar .breadcrumb a {
  color: #505050;
}

.filters .module-heading {
    border-right: 1px solid #dddddd;
    background-color: #eaeaea;
}
.page-header {
    background-color: #ffffff;
}

#header-container{
    body,
    button,
    input,
    select,
    textarea {
      color: #3d3d3d;
      word-wrap: break-word;
      font: 14px/1.8 "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    body {
      background: #FFF;
      margin: 0;
      padding: 0
    }

    #body-core {
      background: #fff;
      min-width: 320px;
      overflow: hidde n
    }

    #pre-header-core,
    #header-core,
    #content-core,
    #footer-core,
    #sub-footer-core,
    #sub-footer-widgets,
    #sub-footer-close,
    #notification-core,
    #intro-core,
    #introaction-core,
    #outroaction-core {
      display: block;
      max-width: 1140px;
      margin: 0 auto
    }

    #nav-above,
    #nav-below {
      padding: 20px 0 60px
    }

    .nav-previous,
    .nav-next {
      float: left;
      margin-right: 10px
    }

    .nav-previous a,
    .nav-next a {
      float: left
    }

    .nav-previous a .meta-icon,
    .nav-next a .meta-ico n {
      display: table;
      float: left;
      height: 43px;
      width: 43px
    }

    .nav-previous i,
    .nav-next i {
      vertical-align: middle !important;
      display: table-cell
    }

    #logo {
      float: left;
      margin-top: 20px;
      transition: all .3s ease
    }

    #logo img {
      width: au to;
      max-height: 85px;
      vertical-align: middle;
      border: 0;
      transition: all .3s ease
    }

    ::after,
    ::before {
      box-sizing: border-box
    }

    .main-navigation::after {
      clear: both;
      content: "";
      display: block
    }

    #header-links-inner {
      display: tab le;
      float: right
    }

    .main-navigation ul {
      list-style: none;
      margin: 0;
      padding-left: 0
    }

    #header-links-inner>.menu,
    #header-search {
      display: table-cell;
      vertical-align: middle
    }

    #header .header-links>ul>li a {
      text-decoration: n one !important;
      color: #0a0a0a !important
    }

    #header .header-links li {
      float: left
    }

    #header .sub-menu {
      box-shadow: #115172 0 -4px 0 0px, rgba(0, 0, 0, 0.15) 1px 1px 2px 0;
      float: left;
      position: absolute;
      z-index: 9999;
      background: #FFF;
      border: 1px solid #E1E1E1
    }

    #mobile-nav ul.sub-menu li a {
      padding-left: 40px;
    }

    #header .menu>li.menu-hover>a,
    #header .menu>li.current-menu-item>a,
    #header .menu>li.current-menu-ancestor>a,
    #header .menu>li>a:hover,
    #header-sticky .menu>li.menu-hover>a,
    #header- sticky .menu>li.current-menu-item>a,
    #header-sticky .menu>li.current-menu-ancestor>a,
    #header-sticky .menu>li>a:hover {
      color: #0a0a0a !important;
      background: #FFF !important
    }

    #header .header-links>ul>li a {
      text-decoration: none !important;
    }

    #header .header-links li a {
      display: block;
      padding: 8px 14px;
      margin: 0
    }

    #header .header-links>ul>li a {
      font-size: 13px;
      color: #bebebe;
      padding: 50px 15px
    }

    #header .menu>li>a {
      transition: all .3s ease
    }

    #header .menu>li.current-menu-item>a span {
      color: #ffc857;
      font-weight: 700
    }

    #header .menu>li>a span {
      padding: 10px
    }

    #header .menu>li.menu-hover>a span,
    #header .menu>li.current-menu-item>a span,
    #header .men u>li.current-menu-ancestor>a span,
    #header .menu>li>a:hover span,
    #header-sticky .menu>li.menu-hover>a span,
    #header-sticky .menu>li.current-menu-item>a span,
    #header-sticky .menu>li.current-menu-ancestor>a s pan,
    #header-sticky .menu>li>a:hover span {
      border-color: #0a0a0a !important
    }

    #header .menu>li>a span::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #006e90;
      transition: width .5s
    }

    #header .header-l inks>ul>li.menu-parent>a::after {
      position: relative;
      content: "\f107";
      font-family: fontawesome;
      padding-left: 6px
    }

    .header-fancydrop #header .header-links .sub-menu {
      box-shadow: #115172 0 -4px 0 0px, rgba(0, 0, 0, 0.15) 1px 1px 2px 0
    }

    #header .header-links .sub-menu {
      display: none;
      float: left;
      position: absolute;
      z-index: 9999;
      background: #FFF;
      border: 1px solid #E1E1E1;
      border-top: none
    }

    #header .header-links .subshow {
      display: block;
      visibility: visible
    }

    #header .header-links .subhide {
      display: none;
      visibility: hidden
    }

    #header .header-links .sub-menu li {
      float: none
    }

    #header .sub-menu li {
      padding: 0 20px
    }

    #pre-header .sub-menu li,
    #header .sub-me nu li {
      position: relative
    }

    #header .header-links .sub-menu a,
    #header-sticky .header-links .sub-menu a {
      color: #0a0a0a !important
    }

    #header .header-links .sub-menu a {
      color: #bebebe;
      font-size: 13px;
      line-height: 32px;
      min-width: 100px;
      margin: 0;
      padding: 2px 10px;
      font-weight: 400
    }

    #header .header-links>ul>li a {
      text-decoration: none !important
    }

    #header .header-links li a {
      display: block;
      padding: 8px 14px;
      margin: 0
    }

    #header .menu>li>a span::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #006e90;
      transition: width .5s
    }

    #header .menu>li>a span:hover::after,
    #header .menu>li.current_page_item>a span::after {
       width: 100%
     }

    #topmenu nav {
        width: unset;
        padding: 0px;
    }
    #topmenu li {
      float: right;
      display: block;
      margin: 0 0 0 35px;
      padding: 0;
      vertical-align: middle;
      height: 45px;
      line-height: 45px;
  }
}
