$bodyfont: "adobe-garamond-pro","Georgia",serif; //bodyfont
$headlinefont: "nimbus-sans","Arial",sans-serif; //headlines, captions and infoboxes
$headerfont: "fira-sans","Arial",sans-serif; //Site header slogan

$darkestblack: rgba(73, 73, 72, 1); //the darkest black used for font color and body copy
$maincolor: rgba(30, 93, 111, 1); //Header color - behind the logo - #205f71;
$lighttextcolor: lighten($darkestblack, 95%); //white text #ffffff
$specialseries: rgba(190, 228, 234, 1);
$navbg: rgba(27, 70, 82, 1); //Dark blue, behind nav area, behind share logos #1c4552
$navbghover: $maincolor; //Used in pagination hover
$hakaigrey: rgba(149, 149, 145, 1); //Used in Author color, share button BG, single page #BBB
$hakaigreylight: rgba(243, 241, 237, 1); //Used in correction backgrounds and audio edition BG
$body_link_color: rgba(79, 170, 189, 1); //Colour of text links in body copy
$body_link_hover_color: $maincolor; //Colour of text link 
$rotatingheaderselectbg: rgba(0, 0, 0, 1);
$captionlink: lighten($navbg, 50%);
$captionlinkcolor: lighten($navbghover, 40%);


//Layout
$number_of_columns:4;
$master_margin_width: 30px;
$singlepagecontainer: 600px;

//Fullscreen
$papawidth: 1160px;

//tablets landscape and small screens
$mamabreak: 1200px;
$mamawidth: 960px;

//tablets portrait all the way down to the smallest phones.
$teenbreak: 980px;
$teenwidth: 100%;

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  body {
    line-height: inherit; }
  ol, ul {
    list-style: none; }
  blockquote, q {
    quotes: none; }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none; }
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  body > header, body > main, body > footer{
    position: relative;
  }


/* #Basic Styles
================================================== */
  body {
    background: $lighttextcolor;
    font: 1em/2em Arial, sans-serif;
    color: $darkestblack;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
     }



/* #Typography
================================================== */
  h1, h2, h3, h4, h5, h6 {
    font-family: $headlinefont;
    font-weight: normal; 
    margin: 0.7em 0 0.5em 0; 
    line-height: 1em;}
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit;  }
  h1 { font-size: 1.8em;}
  h2 { font-size: 1.4em;}
  h3 { font-size: 1.2em;}
  h4 { font-size: 1em;}
  h5, h6 { margin: 1.5em 0 .5em 0; font-style: italic; }
  .subheader { color: $hakaigrey; }

  p { 
    margin: .25em 0 1em 0; 
    line-height: 1.6em;
    letter-spacing: 0.03em;
  }
  p img { margin: 0; }
  p.lead { font-size: 1.2em; line-height: 2em; color: $hakaigrey;  }

  em { font-style: italic; }
  strong { font-weight: bold; }
  small { font-size: 80%; }

/*  Tables 
================================================== */
  table { margin: 1em 0; border: 1px solid $hakaigrey; border-width: 0 0 1px 0; width: 100% }
  tr { border: solid $hakaigrey; border-width: 1px 0 0 1px; }
  th, td { padding: 0.5em; vertical-align: top; border: solid $hakaigrey; border-width: 0 1px 0 0; }
  th { font-weight: bold; background: $hakaigrey; }
  td { text-align: center; }
  th[scope="col"], thead th, thead td { border-bottom: 1px solid $hakaigreylight; text-align: left; }
  th[scope="row"] { border-right: 1px solid $hakaigreylight; text-align: right; }
  tfoot th, tfoot td { border-top: 1px solid $hakaigrey; border-width: 0 1px 0 0; background: #EEE; }

/*  Blockquotes 
================================================== */
  blockquote { margin: 20px 0 0 0; padding: 0 0 0 25px; font-style: italic; color: $hakaigrey; background: url(images/quote.png) no-repeat; }
  blockquote cite { display: block; color: $hakaigrey; }
  blockquote cite:before { content: "\2014 \0020"; }
  blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: $hakaigrey; }

  hr { border: solid $hakaigrey; border-width: 1px 0 0; clear: both; margin: 10px 0 20px; height: 0; }


/* #Links
================================================== */
  a, a:visited { color: $body_link_color; text-decoration: underline; outline: 0; }
  a:hover, a:focus { color: $body_link_hover_color; }
  p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
  ul, ol { margin-bottom: 1em; margin-left: 2em;}
  ul { list-style: circle outside; }
  ol { list-style: decimal;}
  ul ul, ul ol,
  ol ol, ol ul { margin: 1em 2em;}
  ul ul li, ul ol li,
  ol ol li, ol ul li { margin-bottom: 1em; }
  li {padding: 0 0 1em 1em; }


/* #Images
================================================== */
  img.scale-with-grid {
    max-width: 100%;
    height: auto; }

/* #Forms
================================================== */
  fieldset { border: 1px solid $hakaigrey; margin-top: 1em; }
  legend { background: $lighttextcolor none repeat scroll 0%; margin: 0 .4em; padding: 0 .1em }
  label { font-size: 1em;}
  input, select { box-sizing: border-box; font-size: 1em; padding: .2em; font-family: $headlinefont; width:100% }
  textarea { box-sizing: border-box; font-size: 1em; padding: .2em; font-family: $headlinefont; width:100%  }
  select, button { cursor: pointer; padding: 0.1em; }
  button,
  input[type="button"],
  input[type="submit"],
  input[type="reset" ]{
    box-sizing: border-box;
    background-color: $body_link_color;
    border: 1px solid $body_link_color;
      color: $lighttextcolor;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-weight: bold;
      width: 100%;
      font-family: $headlinefont;
      font-size:1em;
      padding: 0.2em .2em .3em .2em;}
/* #Misc
================================================== */
.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 10px !important; }
.add-bottom { margin-bottom: 20px !important; }
tt,code,samp,kbd {
  background: $hakaigreylight;
  font-family: "Courier New", Courier, mono;
}
pre {
  border: 1px solid #bbb;
  padding: 0 0.5em;
  margin: .5em 0 1em 0;
  font: 1em/1.6em Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  background: $hakaigreylight;
  background-image: -webkit-linear-gradient($hakaigrey 50%, $hakaigreylight 50%);
  background-image: -moz-linear-gradient($hakaigrey 50%, $hakaigreylight 50%);
  background-image: -o-linear-gradient($hakaigrey 50%, $hakaigreylight 50%);
  background-image: linear-gradient($hakaigrey 50%, $hakaigreylight 50%);
  background-size: 1em 3.2em;
  word-break: break-all;
  word-wrap: break-word;
}
pre code{
  padding: 0 0.5em;
  margin: .5em 0 1em 0;
  background: none;
  border: none;
  font: 1em/1.6em Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  word-break: break-all;
  word-wrap: break-word;
}
sup {vertical-align: super;
  font-size: smaller;}

i, cite, em, var, address, dfn {
  font-style: italic;
}

abbr, acronym {
  border-width: 0 0 1px 0;
  border-style: dashed;
  border-color: $darkestblack; 
  cursor:help;}

  sub {
    vertical-align: sub;
    font-size: smaller;
  }
.media-heading {
  font-size: 16px;
}

.media-item {
  position: relative;
  float: left;
  width: 150px;
  padding: 15px;
  margin: 0 0 10px 10px;
  background-color: white;
  border-radius: 3px;
}

.media-grid {
  background: none;
  background-color: #f8f8f8;
  border: 1px solid #52a7d7;
}

[role=main],
.main {
  padding-top: 10px;
  background: none;
  background-color: #ffffff;
}

.box {
  background-color: #f8f8f8;
  box-shadow: none;
}

/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */

.account-masthead {
  background-color: #3c7394;
  color: white;
}

/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background-color: #3c7394;
}

/* The text and icons in the user account info. */
.account-masthead .account ul li a {
  color: rgba(0, 0, 0, 0.6);
}

/* The user account info text and icons, when the user's pointer is hovering
   over them. */
.account-masthead .account ul li a:hover {
  color: rgba(0, 0, 0, 0.7);
  background-color: #3c7394;
}


/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */
.masthead {
  background-color: #52a7d7;
  color: #284162;
}

/* The "navigation pills" in the masthead (the links to Datasets,
   Organizations, etc) when the user's pointer hovers over them. */
.masthead .navigation .nav-pills li a:hover {
  background-color: #3e628f;
  color: #3c7394;
}

/* The "active" navigation pill (for example, when you're on the /dataset page
   the "Datasets" link is active). */
.masthead .navigation .nav-pills li.active a {
  background-color: #22364f;
  color: white;
}

.masthead .navigation .nav-pills li a {
  background-color: #52a7d7;
  color: white;
}

/* ===========================================
   homepage content
   =========================================== */
.homepage .module-content {
  margin-bottom: 30px;
}

/* ===========================================
   The content in the middle of the front page
   =========================================== */

/* Change the colors of the "Search Your Data" box. */
/* .homepage .module-search .module-content {
  color: rgb(68, 68, 68);
  background-color: #f8f8f8;
} */

/* Change the colors of the "Search Your Data" box. */
/* .homepage .module-search .module-content {
  color: rgb(68, 68, 68);
  background-color: #f8f8f8;
} */

/* Change the background color of the "Popular Tags" box. */
/* .homepage .module-search .tags {
  background-color: #52a7d7;
} */

/* ====================================
   The footer at the bottom of the site
   ==================================== */
.site-footer {
  background-color: #3c7394;
}

body {
  background: #ffffff;
}

/* The text in the footer. */
.site-footer,
.site-footer label,
.site-footer small {
  color: rgba(0, 0, 0, 0.6);
}

/* The link texts in the footer. */
.site-footer a {
  color: rgba(0, 0, 0, 0.6);
}

#topmenu {
  background: #52A79B;
  color: #fff;
  overflow: hidden;
}

#topmenu nav {
  width: 50%;
  float: right;
  padding: 0 2em 0 0;
}

#topmenu li {
  float: right;
  display: block;
  margin: .25em;
}


#topmenu a {
  color: #fff;
}

#mainmenu {
  border: 1px solid #52A79B;
  border-width: 0 0 1px 0;
}

#mainmenu img {
  padding: .75em 0 .25em 2em;
}

#mainmenu nav {
  width: 50%;
  float: right;
  padding: .75em 2em .25em 0;
}

#mainmenu ul {
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

#mainmenu li {
  float: right;
  display: block;
  margin: 3em 0 0 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.box,
.wrapper {
    background-color: #F8F8F8;
    border: 1px solid #52A79B;
    border-width: 0 0 0 4px;
    border-radius: 0;
    box-shadow: none;
    position: relative;
    min-height: 300px;
}

@media (min-width: 1000px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1192px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1390px;
  }
}

/* Main navigation
================================================== */

header nav,
.header nav,
.nav nav  {
  background: $navbg;
  float: left;
  ul#menu-primary{ 
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: table-cell;
      padding: 0;
      a{ 
        color: $lighttextcolor;
        text-decoration: none;
        font-family: $headlinefont;
      }
    }
  }
}

.skip-link{
  position: absolute; left:100000px}
.main-nav-check,
.mobile-nav ,
.toggle-menu {
  display: none;
}


/* Mobile navigation
================================================================================================ */
@media only screen and (max-width: $teenbreak) {
  nav .container {
    width: 100%;
  }

  .main-nav,
  .navarea {
    display: none;
  }
  .mobile-nav{
    display: block;
    z-index: 100;
    position: relative;
    top: 0px;
    width: 100%;
    margin: 0;
    height:auto;
    background: $navbg;
    overflow: hidden;
    transition: all 0.3s ease;
    margin: 0;
    ul.menu  {
      margin:0; 
      overflow:hidden; 
      list-style: none;
    
      li {
        padding: 0;
        float:left; 
        margin:0; 
        width:100%; 
        list-style: none;
         a{
          font-family: $headlinefont;
          text-align:left; 
          float:left;  
          display:block; 
          overflow:hidden; 
          text-decoration:none; 
          width:98%;
          padding: 0 0 0 5%;
          display: block;
          font-size: inherit; 
          color: #fff;
          border: 1px solid darken($navbg, 5%);
        }
      }
      li.menu-item-has-children a{
        width:69%;
        float:left;
      }
      li.menu-item-has-children ul li a {
        width: 100%;
        border-width: 0 0 1px 0;
      }
      li.menu-item-has-children a.navdrop,
      li.menu-item-has-children a.navdropover{
        width: 25%;
        text-indent: 0px;
        float:right;
        font-family:'FontAwesome';
        background:lighten($navbg, 10%);
        text-align: center;
        padding:0;
        border: 0 solid $navbg;
        span{display:none;}
        &:after{ content: "More";font-family: $headlinefont; margin:0 0 0 .5em}
        &:before{content: "\f055";}
      }
      li.menu-item-has-children a.navdropover{
        &:after{ content: "More";font-family: $headlinefont; margin:0 0 0 .5em}
        &:before{content: "\f056";}
      }
      li.menu-item-has-children li.menu-item-has-children a.navdrop,
      li.menu-item-has-children li.menu-item-has-children a.navdropover{
        background:lighten($navbg, 20%);
        border: 0 solid lighten($navbg, 10%);
        text-indent: 0px;
        &:before{content: "";}
      }
      li.menu-item-has-children li.menu-item-has-children  li.menu-item-has-children a.navdrop,
      li.menu-item-has-children li.menu-item-has-children  li.menu-item-has-children a.navdropover{
        background:lighten($navbg, 30%);
        border: 0 solid lighten($navbg, 20%);
        text-indent: 0px;
        &:before{content: "";}
      }
      ul.sub-menu{ 
        margin:0; 
        position: relative; 
        z-index: 100;  
        font-size: inherit; 
        border:none; 
        width:100%; 
        list-style: none;    
        li{ 
          margin: 0; 
          width: 100%; 
          background:lighten($navbg, 10%);
          a{
          color:$lighttextcolor;  
          padding:0 0 0 5%;
          border: 0 solid lighten($navbg, 15%);
          &:before{content: "";}
          }
        } 
        ul.sub-menu{
          margin:  0;
          position: relative;
          li {
            background:lighten($navbg, 20%);
            a{ 
            border: 0 solid lighten($navbg, 25%);
            text-indent: 20px;
            &:before{content: "-- ";}
            }
          }
          ul.sub-menu{ 
            margin:  0; 
            position: relative; 
            li {
              background:lighten($navbg, 30%);
              a{ 
              border: 0 solid lighten($navbg, 35%);
              text-indent: 30px;
              &:before{content: "--- ";}
              }
            }
          }
        }  
      }
    }
  }
  /* Mobile topbar
  ======================= */
  .topbar {
    margin-top:30px;
    }
  .toggle-menu { 
    display:block;
    label{
      display: block;
      background: $navbg;
      overflow: hidden;
      padding: 2% 5%;
      color:#fff;
      font-family: $headlinefont;
      top: 0;
      z-index:1000;
      box-shadow: 0px 6px 19px rgba(0,0,0,0.2);
      cursor: pointer;
      text-align: right;
      &:before {
      margin-right: .3333em;
      content: "\f055";
      font-family: 'FontAwesome';
      transition: all 0.3s ease;
      }
    }
  }
  .main-nav-check {
    display: none;
  }
  .close-menu {
    display: none;
  }

  /* Mobile navigation Animations
  ================================== */

  #main-nav-check:checked ~ .toggle-menu label:before {
    content: "\f056";
  }
  #main-nav-check ~ .mobile-nav ul.menu li a,
  #main-nav-check:checked ~ .mobile-nav ul.menu ul.subhide li a,
  #main-nav-check:checked ~ .mobile-nav ul.menu ul.subshow ul.subhide li a,
  #main-nav-check:checked ~ .mobile-nav ul.menu ul.subhide ul.subshow li a,
  #main-nav-check:checked ~ .mobile-nav ul.menu ul.subhide li a.navdrop,
  #main-nav-check:checked ~ .mobile-nav ul.menu ul.subhide li a.navdropover,
  #main-nav-check:checked ~ .mobile-nav ul.menu ul.subshow ul.subhide li a.navdrop,
  #main-nav-check:checked ~ .mobile-nav ul.menu ul.subshow ul.subhide li a.navdropover, 
  #main-nav-check:checked ~ .mobile-nav ul.menu ul.subhide ul.subshow li a.navdrop,
  #main-nav-check:checked ~ .mobile-nav ul.menu ul.subhide ul.subshow li a.navdropover 
  {
    border-width:0;
    line-height:0;
    transition: all 0.2s ease;
    height: 0;
  }
  #main-nav-check:checked ~ .mobile-nav ul.menu li a.navdrop,
  #main-nav-check:checked ~ .mobile-nav ul.menu li a.navdropover,
  #main-nav-check:checked ~ .mobile-nav ul.menu ul.subshow li a.navdrop,
  #main-nav-check:checked ~ .mobile-nav ul.menu ul.subshow li a.navdropover{
    border-width:1px 0 0 0;
    line-height: 2.75em;
    transition: all 0.2s ease;
    border-bottom:1px solid transparent;
  }
  #main-nav-check:checked ~ .mobile-nav ul.menu li a{
    line-height: 2.5em;
    border-width:1px 0 0 0;
    transition: all 0.2s ease;
    height: auto;
  }
  #main-nav-check:checked ~ .mobile-nav ul.menu ul.subshow li a {
    line-height: 2.5em;
    border-width: 0 0 1px 0;
    transition: all 0.2s ease;
    height: auto;
  }
  #main-nav-check ~ .mobile-nav ul.menu li a.icons,
  #main-nav-check ~ .mobile-nav form{
    height: 0;
    display: none;
  }
  #main-nav-check:checked ~ .mobile-nav ul.menu li a.icons,
  #main-nav-check:checked ~ .mobile-nav form{
    line-height: 1em;
    display: block;
    height: auto;
    border:none;
    border-width:0;
    transition: all 0.2s ease;
  }
  #main-nav-check ~ .mobile-nav.headericons {
    border-top: 0px;
    padding: 0;
    transition: all 0.2s ease;
  }
  #main-nav-check:checked ~ .mobile-nav.headericons {
    border-top: 1px solid darken($navbg, 5%);
    padding: 1em 0 0 0;
    transition: all 0.2s ease;
  }
}

