
.wrapper {width:800px;
 margin: 0 auto;}
.topbarsocial {background:#52a79b;}
.topbarsocial :before {color:#fff;}
.borderbox {
  border:3px solid #52a79b; 
  border-width: 0 0 0 3px;
  padding:1em;
  background:#f8f8f8;
}
h1.main {text-align: center; font-family: 'Montserrat', sans-serif;}
h1.main span {font-family: 'Montserrat', sans-serif; font-weight: bold;}

