.media-heading {
  font-size: 16px
}

.media-item {
  position: relative;
  float: left;
  width: 150px;
  padding: 15px;
  margin: 0 0 10px 10px;
  background-color: #fff;
  border-radius: 3px;
  min-height: 200px
}

.media-grid {
  background: 0;
  background-color: #f8f8f8;
  border: 1px solid #52a7d7
}

[role=main], .main {
  padding-top: 10px;
  background: 0;
  background-color: #fff
}

.box {
  background-color: #f8f8f8;
  box-shadow: none
}

.account-masthead {
  background-color: #52a79b;
  color: #fff;
  border-top: 1px solid #00232e;
  background-image: none
}

.account-masthead .account {
  border-right: 1px solid #00232e
}

.account-masthead .account .notifications a span {
  background-color: #3c7394
}

.account-masthead .account ul li a {
  color: rgba(0, 0, 0, .6)
}

.account-masthead .account ul li a:hover {
  color: rgba(0, 0, 0, .7);
  background-color: #3c7394
}

.masthead {
  background-color: #52a7d7;
  color: #284162
}

.masthead .navigation .nav-pills li a:hover {
  background-color: #3e628f;
  color: #3c7394
}

.masthead .navigation .nav-pills li.active a {
  background-color: #22364f;
  color: #fff
}

.masthead .navigation .nav-pills li a {
  background-color: #52a7d7;
  color: #fff
}

.site-footer {
  background-color: #3c7394
}

body {
  background: #fff;
  font-family: "Montserrat", sans-serif
}

#topmenu {
  background: #52a79b;
  color: #fff;
  overflow: hidden
}

#topmenu nav {
  width: 50%;
  float: right;
  padding: 0 2em 0 0
}

#topmenu li {
  float: right;
  display: block;
  margin: 5px 0 5px 30px;
  padding: 0
}

#topmenu a {
  color: #fff
}

#mainmenu {
  border: 1px solid #52a79b;
  border-width: 0 0 1px 0;
  width: 100%
}

#mainmenu img {
  padding: .75em 0 .25em 2em width:auto;
  max-height: 85px
}

#mainmenu nav {
  width: 50%;
  float: right;
  padding: .75em 2em .25em 0
}

#mainmenu ul {
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between
}

#mainmenu li {
  float: right;
  display: block;
  margin: 3em 0 0 0;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-transform: uppercase
}

.box, .wrapper {
  background-color: #f8f8f8;
  border: 1px solid #52a79b;
  border-width: 0 0 0 4px;
  border-radius: 0;
  box-shadow: none;
  position: relative
}

@media(min-width:1000px) {
  .container {
    width: 900px
  }
}

@media(min-width:1192px) {
  .container {
    width: 1170px
  }
}

@media(min-width:1400px) {
  .container {
    width: 1390px
  }
}

header nav, .header nav, .nav nav {
  float: left
}

header nav ul#menu-primary, .header nav ul#menu-primary, .nav nav ul#menu-primary {
  list-style: none;
  margin: 0;
  padding: 0
}

header nav ul#menu-primary li, .header nav ul#menu-primary li, .nav nav ul#menu-primary li {
  display: table-cell;
  padding: 0
}

header nav ul#menu-primary li a, .header nav ul#menu-primary li a, .nav nav ul#menu-primary li a {
  text-decoration: none
}

.skip-link {
  position: absolute;
  left: 100000px
}

.main-nav-check, .mobile-nav, .toggle-menu {
  display: none
}

@media only screen and (max-width:1000px) {
  nav .container {
    width: 100%
  }

  ul {
    margin: 0;
    padding: 0;
    -webkit-margin-start: 0;
    -moz-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    -moz-margin-end: 0;
    margin-inline-end: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    padding-inline-start: 0
  }

  .main-nav, .navarea {
    display: none
  }

  .mobile-nav {
    display: block;
    z-index: 100;
    position: relative;
    top: 0;
    width: 100%;
    margin: 0;
    height: auto;
    overflow: hidden;
    transition: all .3s ease;
    margin: 0;
    background: #52a79b
  }

  .mobile-nav ul.menu {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    -webkit-margin-start: 0;
    -moz-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    -moz-margin-end: 0;
    margin-inline-end: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    padding-inline-start: 0
  }

  .mobile-nav ul.menu ul.shareicons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    background: #44887e
  }

  .mobile-nav ul.menu ul.shareicons a {
    text-align: center;
    padding: 0;
    margin: 0
  }

  .mobile-nav ul.menu li {
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none
  }

  .mobile-nav ul.menu li a {
    text-align: left;
    float: left;
    display: block;
    overflow: hidden;
    text-decoration: none;
    width: 98%;
    padding: 0 0 0 5%;
    display: block;
    font-size: inherit;
    color: #fff;
    border: 1px solid #4a968b
  }

  .mobile-nav ul.menu li.menu-item-has-children a {
    width: 69%;
    float: left
  }

  .mobile-nav ul.menu li.menu-item-has-children ul li a {
    width: 100%;
    border-width: 0 0 1px 0
  }

  .mobile-nav ul.menu li.menu-item-has-children a.navdrop, .mobile-nav ul.menu li.menu-item-has-children a.navdropover {
    width: 25%;
    text-indent: 0;
    float: right;
    font-family: "FontAwesome";
    background: #72bab0;
    text-align: center;
    padding: 0;
    border: 0 solid #52a79b
  }

  .mobile-nav ul.menu li.menu-item-has-children a.navdrop span, .mobile-nav ul.menu li.menu-item-has-children a.navdropover span {
    display: none
  }

  .mobile-nav ul.menu li.menu-item-has-children a.navdrop:after, .mobile-nav ul.menu li.menu-item-has-children a.navdropover:after {
    content: "More";
    font-family: "nimbus-sans", "Arial", sans-serif;
    margin: 0 0 0 .5em
  }

  .mobile-nav ul.menu li.menu-item-has-children a.navdrop:before, .mobile-nav ul.menu li.menu-item-has-children a.navdropover:before {
    content: ""
  }

  .mobile-nav ul.menu li.menu-item-has-children a.navdropover:after {
    content: "More";
    font-family: "nimbus-sans", "Arial", sans-serif;
    margin: 0 0 0 .5em
  }

  .mobile-nav ul.menu li.menu-item-has-children a.navdropover:before {
    content: ""
  }

  .mobile-nav ul.menu li.menu-item-has-children li.menu-item-has-children a.navdrop, .mobile-nav ul.menu li.menu-item-has-children li.menu-item-has-children a.navdropover {
    background: #94cbc3;
    border: 0 solid #72bab0;
    text-indent: 0
  }

  .mobile-nav ul.menu li.menu-item-has-children li.menu-item-has-children a.navdrop:before, .mobile-nav ul.menu li.menu-item-has-children li.menu-item-has-children a.navdropover:before {
    content: ""
  }

  .mobile-nav ul.menu li.menu-item-has-children li.menu-item-has-children li.menu-item-has-children a.navdrop, .mobile-nav ul.menu li.menu-item-has-children li.menu-item-has-children li.menu-item-has-children a.navdropover {
    background: #b7dbd6;
    border: 0 solid #94cbc3;
    text-indent: 0
  }

  .mobile-nav ul.menu li.menu-item-has-children li.menu-item-has-children li.menu-item-has-children a.navdrop:before, .mobile-nav ul.menu li.menu-item-has-children li.menu-item-has-children li.menu-item-has-children a.navdropover:before {
    content: ""
  }

  .mobile-nav ul.menu ul.sub-menu {
    margin: 0;
    position: relative;
    z-index: 100;
    font-size: inherit;
    border: 0;
    width: 100%;
    list-style: none
  }

  .mobile-nav ul.menu ul.sub-menu li {
    margin: 0;
    width: 100%;
    background: #72bab0
  }

  .mobile-nav ul.menu ul.sub-menu li a {
    color: #fff;
    padding: 0 0 0 5%;
    border: 0 solid #83c2b9
  }

  .mobile-nav ul.menu ul.sub-menu li a:before {
    content: ""
  }

  .mobile-nav ul.menu ul.sub-menu ul.sub-menu {
    margin: 0;
    position: relative
  }

  .mobile-nav ul.menu ul.sub-menu ul.sub-menu li {
    background: #94cbc3
  }

  .mobile-nav ul.menu ul.sub-menu ul.sub-menu li a {
    border: 0 solid #a5d3cd;
    text-indent: 20px
  }

  .mobile-nav ul.menu ul.sub-menu ul.sub-menu li a:before {
    content: "-- "
  }

  .mobile-nav ul.menu ul.sub-menu ul.sub-menu ul.sub-menu {
    margin: 0;
    position: relative
  }

  .mobile-nav ul.menu ul.sub-menu ul.sub-menu ul.sub-menu li {
    background: #b7dbd6
  }

  .mobile-nav ul.menu ul.sub-menu ul.sub-menu ul.sub-menu li a {
    border: 0 solid #c8e4e0;
    text-indent: 30px
  }

  .mobile-nav ul.menu ul.sub-menu ul.sub-menu ul.sub-menu li a:before {
    content: "--- "
  }

  .topbar {
    margin-top: 30px
  }

  .toggle-menu {
    display: block;
    text-align: center
  }

  .toggle-menu label {
    margin: 0;
    display: block;
    background: #52a79b;
    overflow: hidden;
    padding: 2% 5%;
    color: #fff;
    font-family: "nimbus-sans", "Arial", sans-serif;
    top: 0;
    z-index: 1000;
    box-shadow: 0 6px 19px rgba(0, 0, 0, .2);
    cursor: pointer;
    text-align: right
  }

  .toggle-menu label:before {
    margin-right: .3333em;
    content: "";
    font-family: "FontAwesome";
    transition: all .3s ease
  }

  .main-nav-check {
    display: none
  }

  .close-menu {
    display: none
  }

  #main-nav-check:checked~.toggle-menu label:before {
    content: ""
  }

  #main-nav-check~.mobile-nav ul.menu li a, #main-nav-check:checked~.mobile-nav ul.menu ul.subhide li a, #main-nav-check:checked~.mobile-nav ul.menu ul.subshow ul.subhide li a, #main-nav-check:checked~.mobile-nav ul.menu ul.subhide ul.subshow li a, #main-nav-check:checked~.mobile-nav ul.menu ul.subhide li a.navdrop, #main-nav-check:checked~.mobile-nav ul.menu ul.subhide li a.navdropover, #main-nav-check:checked~.mobile-nav ul.menu ul.subshow ul.subhide li a.navdrop, #main-nav-check:checked~.mobile-nav ul.menu ul.subshow ul.subhide li a.navdropover, #main-nav-check:checked~.mobile-nav ul.menu ul.subhide ul.subshow li a.navdrop, #main-nav-check:checked~.mobile-nav ul.menu ul.subhide ul.subshow li a.navdropover {
    border-width: 0;
    line-height: 0;
    transition: all .2s ease;
    height: 0
  }

  #main-nav-check:checked~.mobile-nav ul.menu li a.navdrop, #main-nav-check:checked~.mobile-nav ul.menu li a.navdropover, #main-nav-check:checked~.mobile-nav ul.menu ul.subshow li a.navdrop, #main-nav-check:checked~.mobile-nav ul.menu ul.subshow li a.navdropover {
    border-width: 1px 0 0 0;
    line-height: 2.75em;
    transition: all .2s ease;
    border-bottom: 1px solid transparent
  }

  #main-nav-check:checked~.mobile-nav ul.menu li a {
    line-height: 2.5em;
    border-width: 1px 0 0 0;
    transition: all .2s ease;
    height: auto
  }

  #main-nav-check:checked~.mobile-nav ul.menu ul.subshow li a {
    line-height: 2.5em;
    border-width: 0 0 1px 0;
    transition: all .2s ease;
    height: auto
  }

  #main-nav-check~.mobile-nav ul.menu li a.icons, #main-nav-check~.mobile-nav form {
    height: 0;
    display: none
  }

  #main-nav-check:checked~.mobile-nav ul.menu li a.icons, #main-nav-check:checked~.mobile-nav form {
    line-height: 1em;
    display: block;
    height: auto;
    border: 0;
    border-width: 0;
    transition: all .2s ease
  }

  #main-nav-check~.mobile-nav.headericons {
    border-top: 0;
    padding: 0;
    transition: all .2s ease
  }

  #main-nav-check:checked~.mobile-nav.headericons {
    border-top: 1px solid #4a968b;
    padding: 1em 0 0 0;
    transition: all .2s ease
  }
}

.mapbg {
  text-align: center;
  margin: 0 0 1em 0
}

.flexbox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between
}

@media(min-width:1000px) {
  .home-intro-text {
    padding: 0
  }
}

@media(min-width:1192px) {
  .home-intro-text {
    padding: 0 180px
  }
}

@media(min-width:1400px) {
  .home-intro-text {
    padding: 0 280px
  }
}

.btn-primary {
  color: #404041;
  background-color: #c6e3df;
  border-color: #c6e3df;
  padding: 0 30px 10px !important;
  margin: 0 30px
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: Quicksand;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 20px
}

.search-input-group .btn {
  border-color: #fa7268
}

.newsitem {
  position: relative;
  display: inline-block;
  padding: 5px 20px;
  overflow: hidden;
  z-index: 1
}

.newsitem header {
  border: 1px solid #ddd;
  background: #fff;
  text-align: center
}

.newsitem p {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 22px;
  background: #52a79b;
  width: 150px;
  padding: 3px 10px
}

.newsitem .newsday {
  font-size: 3em;
  width: 50%;
  display: inline-block;
  color: #fff
}

.newsitem .newsmonth {
  width: 50%;
  display: inline-block;
  color: #fff
}

.newsitem p:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -20px;
  left: -20px;
  z-index: -2;
  border: 20px solid;
  border-color: transparent #437a7a transparent transparent
}

.rabox img {
  max-width: 30%
}

.form-control {
  border-radius: 30px;
  border-color: #fa7268
}

.search-form .search-input.search-giant button {
  top: 15px;
  right: 15px;
  background: #fa7268;
  border-radius: 27px;
  width: 54px;
  height: 100%
}

.search-form .search-input button i {
  color: #fff
}

.centertext {
  text-align: center
}

.title h1 {
  font-size: 70px;
  font-weight: 600;
  color: #707070
}

.title h1 span {
  font-weight: 300
}

.title h2 {
  font-size: 50px;
  font-weight: 300;
  color: #707070
}

.title h2 span {
  color: #fa7268
}

.title h2 span a {
  color: #fa7268;
  text-decoration: none
}

.title h2 span a:hover {
  color: #fa7268;
  text-decoration: none
}

.search-form {
  border-bottom: 0
}

.rightalign {
  text-align: right
}

.homepage .module-content-end {
  margin-bottom: 100px
}

#footer {
  background-color: #52a79b;
  background-repeat: no-repeat;
  background-position: 111%;
  color: #fff;
  padding: 10px
}

.site-footer, .site-footer label, .site-footer small {
  color: rgba(0, 0, 0, .6)
}

.site-footer a {
  color: rgba(0, 0, 0, .6)
}

@media only screen and (max-width:1000px)and (min-width:0) {
  .invis, .screen-reader-text {
    display: none
  }

  .logo {
    margin: 1em;
    overflow: hidden;
    display: block
  }
}

.media-grid {
  border: 0
}

.composite-control-repeating {
  padding-left: 0;
  height: auto
}

.composite-control-repeating .composite-subfield {
  padding-left: 20px;
  margin-bottom: 10px
}

.media-item-disabled {
  pointer-events: none;
  opacity: .6
}

/*# sourceMappingURL=cioos_theme.css.map */
