<div role="main" class="hero">
  <div class="container">
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-9 col2">
        <h3 class="heading">{{ _('Ocean Variables') }}</h3>
        <div class="module-content box">
          {% block eov_list %}
          {% set eov = h.cioos_get_eovs(show_all=True) %}
          {% for grouper, list in eov|rejectattr('category', 'undefined')|selectattr('count')|groupby('category') %}
          {% if grouper and grouper not in g.exclude_eov_category %}
          
          {% if list|length > 0 %}
          <dl class="eov-list">
            <dt>{{ _(grouper) }}</dt>
            {% for item in list|sort(attribute='name') %}
            {% if item.name not in g.exclude_eov %}
            {% set href = h.url_for(controller='dataset', action='search', eov=item.name) %}
            {% set label = label_function(item) if label_function else h.scheming_language_text(item.display_name) %}
            {% set label = _(label) %}
            {% set label_truncated = h.truncate(label, 35) if not label_function else label %}
            {% set count = count_label(item['count']) if count_label else ('%d' % item['count']) %}
            <dd>
              <a href="{{ href }}" title="{{ label if label != label_truncated else '' }}" >
                <span class="item-label">{{ label_truncated }}</span>                
                <span class="item-count badge">{{ count }}</span>
              </a>
            </dd>
            {% endif %}
            {% endfor %}
          </dl>
          {% endif %}
          {% endif %}
          {% endfor %}
          {% endblock %}
        </div>

        <h3 class="heading">{{ _('All Datasets') }}</h3>
        <div class="module-content box">
          <b>View all <a style="font-size: 18px;" href="{{ h.url_for(controller='dataset', action='search') }}">{{h.cioos_count_datasets()}}</a> datasets</b>
        </div>

    </div>

    <div class="col-md-3 col1 h-100">
        {% block promoted %}
          {% snippet 'home/snippets/promoted.html' %}
        {% endblock %}
    </div>
  </div>

  <div class="container">
    <div class="row">
      <h3 class="heading">{{ _("Search by Location") }}</h3>
      <p> To perform a spatial search, define your search area using the draw tool</p>
    <div class="box">
  	  {% snippet "spatial/snippets/spatial_query.html" , 
        default_extent= h.spatial_default_extent(),
        dataset_extents= h.cioos_get_dataset_extents(q=c.get('q'), fields=c.fields, bbox_values=dict(request.params).get('ext_bbox'), output='json'),
        ra_extents=h.cioos_get_ra_extents()
       %}
  	</div>
    </div>
  </div>
</div>
