<div role="main">
  <div class="container">
    <div class="row row1">
      <div class="col-md-12 col1 mapbg">
        <img src="{{h.url_for_static('/base/images/map.svg')}}">
      </div>
      <div class="col-md-12 col1 home-intro-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida sed magna eget pellentesque. Duis pulvinar leo at nunc convallis, at molestie dui suscipit. In sit amet lorem dictum, tristique metus sit amet, egestas neque. Integer eros ante, luctus ac lectus quis, vulputate lobortis orci. Vestibulum scelerisque commodo lectus. Phasellus id velit vestibulum, interdum magna id, consequat sem. Suspendisse ornare arcu nec placerat accumsan. In eget eleifend nunc. Duis condimentum diam non tellus bibendum, et eleifend mi malesuada. Mauris urna purus, tristique nec aliquet ac, facilisis a enim. </p>
        <p class="mapbg "><a class="btn btn-primary" href="#" role="button">Explore Data</a><a class="btn btn-primary" href="#" role="button">Contribute to Cioos</a></p>
      </div>
      <div class="col-md-12 col1 module-content-end">
        <div class="module-content box ">
          <h3 class="heading">Regional Associations</h3>
        </div>
        <div class="module-content box rabox">
          <img src="{{h.url_for_static('/base/images/westcoast.svg')}}">
          <img src="{{h.url_for_static('/base/images/stlawrence.svg')}}">
          <img src="{{h.url_for_static('/base/images/eastcoast.svg')}}">
        </div>
      </div>
      <div class="col-md-12 col1 module-content-end">
        <div class="module-content box">
          <h3 class="heading">Latest News</h3>
        </div>
        <div class="module-content box rabox">
        
          <article class="newsitem">
            <a href="#">
              <img src="{{h.url_for_static('/base/images/news.jpg')}}">
              <header>
                <h2>News Item</h2>
              </header>
              <p><span class="newsday">29</span><span class="newsmonth">March 2019</span></p>
            </a>
          </article>

          <article class="newsitem">
            <a href="#">
              <img src="{{h.url_for_static('/base/images/news.jpg')}}">
              <header>
                <h2>News Item Title</h2>
              </header>
              <p><span class="newsday">29</span><span class="newsmonth">March 2019</span></p>
            </a>
          </article>

          <article class="newsitem">
            <a href="#">
              <img src="{{h.url_for_static('/base/images/news.jpg')}}">
              <header>
                <h2>News Item</h2>
              </header>
              <p><span class="newsday">29</span><span class="newsmonth">March 2019</span></p>
            </a>
          </article>

        </div>
      </div>
    </div>
  </div>
</div>
